{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.group %}
    <li class="breadcrumb-item"><a href="{% url 'tenancy:contact_list' %}?group_id={{ object.group.pk }}">{{ object.group }}</a></li>
  {% endif %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="row">
    <div class="col col-md-7">
      <div class="card">
        <h5 class="card-header">Tenant</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <td>Group</td>
              <td>
                {% if object.group %}
                  <a href="{{ object.group.get_absolute_url }}">{{ object.group }}</a>
                {% else %}
                  <span class="text-muted">None</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <td>Title</td>
              <td>{{ object.tile|placeholder }}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{ object.phone|placeholder }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ object.email|placeholder }}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{ object.address|linebreaksbr|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Assignments</th>
              <td>
                <a href="{% url 'tenancy:contact_list' %}?contact_id={{ object.pk }}">{{ assignment_count }}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/comments_panel.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-5">
      {% include 'inc/custom_fields_panel.html' %}
      {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='tenancy:tenant_list' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Assignments</h5>
        <div class="card-body">
          {% include 'inc/table.html' with table=contacts_table %}
        </div>
      </div>
      {% include 'inc/paginator.html' with paginator=contacts_table.paginator page=contacts_table.page %}
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
