{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  {% for contactgroup in object.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'tenancy:contactgroup_list' %}?parent_id={{ contactgroup.pk }}">{{ contactgroup }}</a></li>
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          Contact Group
        </h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Parent</th>
              <td>
                {% if object.parent %}
                  <a href="{{ object.parent.get_absolute_url }}">{{ object.parent }}</a>
                {% else %}
                  <span class="text-muted">&mdash;</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Contacts</th>
              <td>
                <a href="{% url 'tenancy:contact_list' %}?group_id={{ object.pk }}">{{ contacts_table.rows|length }}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col col-md-12">
      <div class="card">
        <div class="card-header">
          Tenants
        </div>
        <div class="card-body">
          {% include 'inc/table.html' with table=contacts_table %}
        </div>
        {% if perms.tenancy.add_contact %}
          <div class="card-footer text-end noprint">
            <a href="{% url 'tenancy:contact_add' %}?group={{ object.pk }}" class="btn btn-sm btn-primary">
              <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Contact
            </a>
          </div>
        {% endif %}
        </div>
        {% include 'inc/paginator.html' with paginator=contacts_table.paginator page=contacts_table.page %}
        {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
