{% extends 'generic/object_edit.html' %}
{% load helpers %}
{% load form_helpers %}
{% load i18n %}

{% block form %}
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}
  <div class="field-group my-5">
    <div class="row">
      <h5 class="col-9 offset-3">{% trans "Contact Assignment" %}</h5>
    </div>
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label text-lg-end">
        {{ form.instance.object|meta:'verbose_name'|bettertitle }}
      </label>
      <div class="col">
        <input class="form-control" value="{{ form.instance.object }}" disabled />
      </div>
    </div>
    {% render_field form.group %}
    {% render_field form.contact %}
    {% render_field form.role %}
    {% render_field form.priority %}
    {% render_field form.tags %}
  </div>

  <div class="field-group mb-5">
    <div class="row">
      <h5 class="col-9 offset-3">{% trans "Custom Fields" %}</h5>
    </div>
    {% render_custom_fields form %}
  </div>
{% endblock %}
