{% extends 'generic/object_list.html' %}
{% load buttons %}
{% load helpers %}
{% load i18n %}

{% block bulk_buttons %}
  <div class="btn-group" role="group">
    {% if 'bulk_edit' in actions %}
      {% bulk_edit_button model query_params=request.GET %}
    {% endif %}
    {% if 'bulk_rename' in actions %}
      {% with bulk_rename_view=model|validated_viewname:"bulk_rename" %}
        <button type="submit" name="_rename" {% formaction %}="{% url bulk_rename_view %}" class="btn btn-outline-warning">
          <i class="mdi mdi-pencil-outline" aria-hidden="true"></i> {% trans "Rename Selected" %}
        </button>
      {% endwith %}
    {% endif %}
  </div>
  {% if 'bulk_delete' in actions %}
    {% bulk_delete_button model query_params=request.GET %}
  {% endif %}
{% endblock %}
