{% extends 'base/layout.html' %}
{% load buttons %}
{% load render_table from django_tables2 %}

{% block title %}{{ title }}{% endblock %}

{% block extra_controls %}{% export_button content_type %}{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col col-md-7 col-lg-8 col-xl-9 col-xxl-10">
            {% include 'inc/table_controls.html' %}

            <div class="table-responsive">
                {% render_table table 'inc/table.html' %}
            </div>

            {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
        </div>
        {% if filter_form %}
            {% include 'inc/filter_list.html' %}
        {% endif %}
    </div>
{% endblock %}
