{% extends 'base.html' %}
{% load buttons %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="float-end noprint">
    {% export_button content_type %}
</div>
<div class="row">
	  <div class="col-md-12">
        <div class="col-md-3 pull-right right-side-panel noprint">
            {% include 'inc/search_panel.html' %}
        </div>
        {% include 'responsive_table.html' %}
        {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
    </div>
</div>
{% endblock %}
