{% extends 'dcim/device/base.html' %}
{% load render_table from django_tables2 %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}

{% block content %}
    <div class="row">
        <div class="col col-12 col-xl-6">
            <div class="card">
                <h5 class="card-header">
                    Device
                </h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Region</th>
                            <td>
                                {% if object.site.region %}
                                    {% for region in object.site.region.get_ancestors %}
                                        {{ region|linkify }} /
                                    {% endfor %}
                                    {{ object.site.region|linkify }}
                                {% else %}
                                    {{ ''|placeholder }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Site</th>
                            <td>{{ object.site|linkify }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Location</th>
                            <td>
                            {% if object.location %}
                                {% for location in object.location.get_ancestors %}
                                    {{ location|linkify }} /
                                {% endfor %}
                                {{ object.location|linkify }}
                            {% else %}
                                {{ ''|placeholder }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Rack</th>
                            <td class="position-relative">
                                {% if object.rack %}
                                    {{ object.rack|linkify }}
                                    <div class="position-absolute top-50 end-0 translate-middle-y noprint">
                                      <a href="{{ object.rack.get_absolute_url }}?device={{ object.pk }}" class="btn btn-primary btn-sm" title="Highlight device">
                                        <i class="mdi mdi-view-day-outline"></i>
                                      </a>
                                    </div>
                                {% else %}
                                    {{ ''|placeholder }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Position</th>
                            <td>
                                {% if object.parent_bay %}
                                    {% with object.parent_bay.device as parent %}
                                        {{ parent|linkify }} / {{ object.parent_bay }}
                                        {% if parent.position %}
                                            (U{{ parent.position|floatformat }} / {{ parent.get_face_display }})
                                        {% endif %}
                                    {% endwith %}
                                {% elif object.rack and object.position %}
                                    <span>U{{ object.position|floatformat }} / {{ object.get_face_display }}</span>
                                {% elif object.rack and object.device_type.u_height %}
                                    <span class="badge bg-warning">Not racked</span>
                                {% else %}
                                    {{ ''|placeholder }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Tenant</th>
                            <td>
                                {% if object.tenant.group %}
                                    {{ object.tenant.group|linkify }} /
                                {% endif %}
                                {{ object.tenant|linkify|placeholder }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Device Type</th>
                            <td>
                                {{ object.device_type|linkify:"get_full_name" }} ({{ object.device_type.u_height|floatformat }}U)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ object.description|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Airflow</th>
                            <td>
                                {{ object.get_airflow_display|placeholder }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Serial Number</th>
                            <td class="font-monospace">{{ object.serial|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Asset Tag</th>
                            <td class="font-monospace">{{ object.asset_tag|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% if vc_members %}
                <div class="card">
                    <h5 class="card-header">
                        Virtual Chassis
                    </h5>
                    <div class="card-body">
                        <table class="table table-hover attr-table">
                            <tr>
                                <th>Device</th>
                                <th>Position</th>
                                <th>Master</th>
                                <th>Priority</th>
                            </tr>
                            {% for vc_member in vc_members %}
                                <tr{% if vc_member == object %} class="info"{% endif %}>
                                    <td>
                                        {{ vc_member|linkify }}
                                    </td>
                                    <td>
                                      {% badge vc_member.vc_position show_empty=True %}
                                    </td>
                                    <td>
                                      {% if object.virtual_chassis.master == vc_member %}<i class="mdi mdi-check-bold"></i>{% endif %}
                                    </td>
                                    <td>
                                      {{ vc_member.vc_priority|placeholder }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="card-footer text-end noprint">
                        <a href="{{ object.virtual_chassis.get_absolute_url }}" class="btn btn-primary btn-sm">
                            <span class="mdi mdi-arrow-right-bold" aria-hidden="true"></span> View Virtual Chassis
                        </a>
                    </div>
                </div>
            {% endif %}
            {% include 'inc/panels/custom_fields.html' %}
            {% include 'inc/panels/tags.html' %}
            {% include 'inc/panels/comments.html' %}
            <div class="card">
              <h5 class="card-header">Virtual Device Contexts</h5>
              <div class="card-body">
                {% if vdcs %}
                  <table class="table table-hover">
                    <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Identifier</th>
                      <th>Tenant</th>
                    </tr>
                    {% for vdc in vdcs %}
                      <tr>
                        <td>{{ vdc|linkify }}</td>
                        <td>{% badge vdc.get_status_display bg_color=vdc.get_status_color %}</td>
                        <td>{{ vdc.identifier|placeholder }}</td>
                        <td>{{ vdc.tenant|linkify|placeholder }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                {% else %}
                  <div class="text-muted">None</div>
                {% endif %}
              </div>
              {% if perms.dcim.add_virtualdevicecontext %}
                <div class="card-footer text-end noprint">
                  <a href="{% url 'dcim:virtualdevicecontext_add' %}?device={{ object.pk }}" class="btn btn-sm btn-primary">
                    <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Create VDC
                  </a>
                </div>
              {% endif %}
            </div>
            {% plugin_left_page object %}
        </div>
        <div class="col col-12 col-xl-6">
            <div class="card">
                <h5 class="card-header">Management</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Status</th>
                            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Role</th>
                            <td>{{ object.device_role|linkify }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Platform</th>
                            <td>{{ object.platform|linkify|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Primary IPv4</th>
                            <td>
                              {% if object.primary_ip4 %}
                                <a href="{{ object.primary_ip4.get_absolute_url }}">{{ object.primary_ip4.address.ip }}</a>
                                {% if object.primary_ip4.nat_inside %}
                                  (NAT for <a href="{{ object.primary_ip4.nat_inside.get_absolute_url }}">{{ object.primary_ip4.nat_inside.address.ip }}</a>)
                                {% elif object.primary_ip4.nat_outside.exists %}
                                  (NAT: {% for nat in object.primary_ip4.nat_outside.all %}<a href="{{ nat.get_absolute_url }}">{{ nat.address.ip }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
                                {% endif %}
                              {% else %}
                                {{ ''|placeholder }}
                              {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Primary IPv6</th>
                            <td>
                              {% if object.primary_ip6 %}
                                <a href="{{ object.primary_ip6.get_absolute_url }}">{{ object.primary_ip6.address.ip }}</a>
                                {% if object.primary_ip6.nat_inside %}
                                  (NAT for <a href="{{ object.primary_ip6.nat_inside.get_absolute_url }}">{{ object.primary_ip6.nat_inside.address.ip }}</a>)
                                {% elif object.primary_ip6.nat_outside.exists %}
                                  (NAT: {% for nat in object.primary_ip6.nat_outside.all %}<a href="{{ nat.get_absolute_url }}">{{ nat.address.ip }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
                                {% endif %}
                              {% else %}
                                {{ ''|placeholder }}
                              {% endif %}
                            </td>
                        </tr>
                        {% if object.cluster %}
                            <tr>
                                <th>Cluster</th>
                                <td>
                                    {% if object.cluster.group %}
                                        {{ object.cluster.group|linkify }} /
                                    {% endif %}
                                    {{ object.cluster|linkify }}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            {% if object.powerports.exists and object.poweroutlets.exists %}
                <div class="card">
                    <h5 class="card-header">
                        Power Utilization
                    </h5>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>Input</th>
                                <th>Outlets</th>
                                <th>Allocated</th>
                                <th>Available</th>
                                <th>Utilization</th>
                            </tr>
                            {% for powerport in object.powerports.all %}
                                {% with utilization=powerport.get_power_draw powerfeed=powerport.connected_endpoints.0 %}
                                    <tr>
                                        <td>{{ powerport }}</td>
                                        <td>{{ utilization.outlet_count }}</td>
                                        <td>{{ utilization.allocated }}VA</td>
                                        {% if powerfeed.available_power %}
                                            <td>{{ powerfeed.available_power }}VA</td>
                                            <td>{% utilization_graph utilization.allocated|percentage:powerfeed.available_power %}</td>
                                        {% else %}
                                            <td class="text-muted">&mdash;</td>
                                            <td class="text-muted">&mdash;</td>
                                        {% endif %}
                                    </tr>
                                    {% for leg in utilization.legs %}
                                        <tr>
                                            <td style="padding-left: 20px">Leg {{ leg.name }}</td>
                                            <td>{{ leg.outlet_count }}</td>
                                            <td>{{ leg.allocated }}</td>
                                            {% if powerfeed.available_power %}
                                                {% with phase_available=powerfeed.available_power|divide:3 %}
                                                    <td>{{ phase_available }}VA</td>
                                                    <td>{% utilization_graph leg.allocated|percentage:phase_available %}</td>
                                                {% endwith %}
                                            {% else %}
                                                <td class="text-muted">&mdash;</td>
                                                <td class="text-muted">&mdash;</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endwith %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
            {% include 'inc/panels/services.html' %}
            {% include 'inc/panels/contacts.html' %}
            {% include 'inc/panels/image_attachments.html' %}
            {% if object.rack and object.position %}
              <div class="row" style="margin-bottom: 20px">
                <div class="col col-md-6 col-sm-6 col-xs-12 text-center">
                  <div style="margin-left: 30px">
                    <h4>Front</h4>
                    {% include 'dcim/inc/rack_elevation.html' with object=object.rack face='front' extra_params=svg_extra %}
                  </div>
                </div>
                <div class="col col-md-6 col-sm-6 col-xs-12 text-center">
                  <div style="margin-left: 30px">
                    <h4>Rear</h4>
                    {% include 'dcim/inc/rack_elevation.html' with object=object.rack face='rear' extra_params=svg_extra %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% plugin_right_page object %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            {% plugin_full_width_page object %}
        </div>
    </div>
{% endblock %}
