{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dcim:devicerole_list' %}">Device Roles</a></li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        Device Role
      </h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Color</th>
            <td>
              <span class="badge color-label" style="background-color: #{{ object.color }}">&nbsp;</span>
            </td>
          </tr>
          <tr>
            <th scope="row">VM Role</th>
            <td>
              {% if object.vm_role %}
                <i class="mdi mdi-check-bold text-success" title="Yes"></i>
              {% else %}
                <i class="mdi mdi-close-thick text-danger" title="No"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Devices</th>
            <td>
              <a href="{% url 'dcim:device_list' %}?role_id={{ object.pk }}">{{ device_count }}</a>
            </td>
          </tr>
          <tr>
            <td>Virtual Machines</td>
            <td>
              {% if object.vm_role %}
                <a href="{% url 'virtualization:virtualmachine_list' %}?role_id={{ object.pk }}">{{ virtualmachine_count }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
    {% include 'inc/custom_fields_panel.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row mb-3">
	<div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">
        Devices
      </h5>
      <div class="card-body">
        {% include 'inc/table.html' with table=devices_table %}
      </div>
      {% if perms.dcim.add_device %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'dcim:device_add' %}?device_role={{ object.pk }}" class="btn btn-sm btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Device
          </a>
        </div>
      {% endif %}
    </div>
    {% include 'inc/paginator.html' with paginator=devices_table.paginator page=devices_table.page %}
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
