{% extends 'layout.html' %}
{% load form_helpers %}

{% block title %}Create {{ component_type }}{% endblock %}

{% render_errors form %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            <div class="field-group">
                <h4>{{ component_type|title }}</h4>
                {% render_form form %}
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-8 text-end">
        {% block buttons %}
        <a class="btn btn-outline-danger" href="{{ return_url }}">Cancel</a>
        <button type="submit" name="_addanother" class="btn btn-outline-primary">
            Create & Add Another
        </button>
        <button type="submit" name="_create" class="btn btn-primary">
            Create
        </button>
        {% endblock %}
    </div>
  </div>
</form>
{% endblock %}
