{% extends 'dcim/device_component.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">
                    Front Port
                </h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Device</th>
                            <td>
                                <a href="{{ object.device.get_absolute_url }}">{{ object.device }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Label</th>
                            <td>{{ object.label|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td>{{ object.get_type_display }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Color</th>
                          <td>
                            <span class="badge color-label" style="background-color: #{{ object.color }}">&nbsp;</span>
                          </td>
                        </tr>
                        <tr>
                            <th scope="row">Rear Port</th>
                            <td>
                                <a href="{{ object.rear_port.get_absolute_url }}">{{ object.rear_port }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Rear Port Position</th>
                            <td>{{ object.rear_port_position }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ object.description|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
            {% include 'inc/panels/tags.html' with tags=object.tags.all %}
            {% plugin_left_page object %}
        </div>
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">
                    Connection
                </h5>
                <div class="card-body">
                {% if object.mark_connected %}
                    <div class="text-muted">
                      <span class="text-success"><i class="mdi mdi-check-bold"></i></span> Marked as Connected
                    </div>
                {% elif object.cable %}
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Cable</th>
                            <td>
                                <a href="{{ object.cable.get_absolute_url }}">{{ object.cable }}</a>
                                <a href="{% url 'dcim:frontport_trace' pk=object.pk %}" class="btn btn-primary btn-sm lh-1" title="Trace">
                                    <i class="mdi mdi-transit-connection-variant" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Connection Status</th>
                            <td>
                                {% if object.cable.status %}
                                    <span class="badge bg-success">{{ object.cable.get_status_display }}</span>
                                {% else %}
                                    <span class="badge bg-info">{{ object.cable.get_status_display }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <div class="text-muted">
                        Not Connected
                        {% if perms.dcim.add_cable %}
                            <div class="dropdown float-end">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mdi mdi-ethernet-cable" aria-hidden="true"></span> Connect
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dcim:frontport_connect' termination_a_id=object.pk termination_b_type='interface' %}?return_url={{ object.get_absolute_url }}">Interface</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dcim:frontport_connect' termination_a_id=object.pk termination_b_type='console-server-port' %}?return_url={{ object.get_absolute_url }}">Console Server Port</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dcim:frontport_connect' termination_a_id=object.pk termination_b_type='console-port' %}?return_url={{ object.get_absolute_url }}">Console Port</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dcim:frontport_connect' termination_a_id=object.pk termination_b_type='front-port' %}?return_url={{ object.get_absolute_url }}">Front Port</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dcim:frontport_connect' termination_a_id=object.pk termination_b_type='rear-port' %}?return_url={{ object.get_absolute_url }}">Rear Port</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dcim:frontport_connect' termination_a_id=object.pk termination_b_type='circuit-termination' %}?return_url={{ object.get_absolute_url }}">Circuit Termination</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
            </div>
            {% plugin_right_page object %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            {% plugin_full_width_page object %}
        </div>
    </div>
{% endblock %}
