{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="card">
        <div class="card-header">Interface</div>
        <div class="card-body">
            {% if form.instance.device %}
            <div class="form-floating mb-3">
                <input class="form-control" value="{{ form.instance.device }}" disabled />
                <label class="form-label required" for="id_device">Device</label>
            </div>
            {% endif %}
            {% render_field form.name %}
            {% render_field form.label %}
            {% render_field form.type %}
            {% render_field form.enabled %}
            {% render_field form.parent %}
            {% render_field form.lag %}
            {% render_field form.mac_address %}
            {% render_field form.mtu %}
            {% render_field form.mgmt_only %}
            {% render_field form.mark_connected %}
            {% render_field form.description %}
            {% render_field form.tags %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">802.1Q Switching</div>
        <div class="card-body">
            {% render_field form.mode %}
            {% render_field form.untagged_vlan %}
            {% render_field form.tagged_vlans %}
        </div>
    </div>
    {% if form.custom_fields %}
      <div class="card">
        <div class="card-header">Custom Fields</div>
        <div class="card-body">
          {% render_custom_fields form %}
        </div>
      </div>
    {% endif %}
{% endblock %}

{% block buttons %}
    <a href="{{ return_url }}" class="btn btn-outline-danger">Cancel</a>
    {% if obj.pk %}
        <button type="submit" formaction="?return_url={% url 'dcim:interface_edit' pk=obj.pk %}" class="btn btn-outline-primary">Update & Continue Editing</button>
        <button type="submit" name="_update" class="btn btn-primary">Update</button>
    {% else %}
        <button type="submit" name="_addanother" class="btn btn-outline-primary">Create & Add Another</button>
        <button type="submit" name="_create" class="btn btn-primary">Create</button>
    {% endif %}
{% endblock %}
