{% extends 'dcim/device_component.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dcim:device_inventory' pk=object.device.pk %}">Inventory Items</a></li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">
                    Inventory Item
                </h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Device</th>
                            <td>
                                <a href="{{ object.device.get_absolute_url }}">{{ object.device }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Parent Item</th>
                            <td>
                                {% if object.parent %}
                                    <a href="{{ object.parent.get_absolute_url }}">{{ object.parent }}</a>
                                {% else %}
                                    <span class="text-muted">&mdash;</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Label</th>
                            <td>{{ object.label|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Manufacturer</th>
                            <td>
                                {% if object.manufacturer %}
                                    <a href="{{ object.manufacturer.get_absolute_url }}">{{ object.manufacturer }}</a>
                                {% else %}
                                    <span class="text-muted">&mdash;</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Part ID</th>
                            <td>{{ object.part_id|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Serial</th>
                            <td>{{ object.serial|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Asset Tag</th>
                            <td>{{ object.asset_tag|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ object.description|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include 'inc/custom_fields_panel.html' %}
            {% include 'extras/inc/tags_panel.html' with tags=object.tags.all %}
            {% plugin_left_page object %}
        </div>
        <div class="col-md-6">
            {% plugin_right_page object %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            {% plugin_full_width_page object %}
        </div>
    </div>
{% endblock %}
