{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dcim:location_list' %}">Locations</a></li>
  {% for location in object.get_ancestors %}
    <li class="breadcrumb-item"><a href="{{ location.get_absolute_url }}">{{ location }}</a></li>
  {% endfor %}
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row mb-3">
	<div class="col-md-6">
    <div class="card">
      <h5 class="card-header">
        Location
      </h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Site</th>
            <td><a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a></td>
          </tr>
          <tr>
            <th scope="row">Parent</th>
            <td>
              {% if object.parent %}
                <a href="{{ object.parent.get_absolute_url }}">{{ object.parent }}</a>
              {% else %}
                <span class="text-muted">&mdash;</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Racks</th>
            <td>
              <a href="{% url 'dcim:rack_list' %}?location_id={{ object.pk }}">{{ object.racks.count }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Devices</th>
            <td>
              <a href="{% url 'dcim:device_list' %}?location_id={{ object.pk }}">{{ devices_table.rows|length }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% plugin_left_page object %}
  </div>
	<div class="col-md-6">
    {% include 'inc/custom_fields_panel.html' %}
    <div class="card">
        <h5 class="card-header">
            Images
        </h5>
        <div class="card-body">
          {% include 'inc/image_attachments.html' with images=object.images.all %}
        </div>
        {% if perms.extras.add_imageattachment %}
          <div class="card-footer text-end noprint">
              <a href="{% url 'dcim:location_add_image' object_id=object.pk %}" class="btn btn-primary btn-sm">
                  <span class="mdi mdi-plus-thick" aria-hidden="true"></span>
                  Attach an Image
              </a>
          </div>
        {% endif %}
    </div>
    {% plugin_right_page object %}
	</div>
</div>
<div class="row mb-3">
	<div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        Devices
      </h5>
      <div class="card-body">
        {% include 'inc/table.html' with table=devices_table %}
      </div>
      {% if perms.dcim.add_device %}
      <div class="card-footer text-end noprint">
        <a href="{% url 'dcim:device_add' %}?location={{ object.pk }}" class="btn btn-sm btn-primary">
          <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Device
        </a>
      </div>
      {% endif %}
    </div>
    {% include 'inc/paginator.html' with paginator=devices_table.paginator page=devices_table.page %}
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
