{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'dcim:device_poweroutlets' pk=object.device.pk %}">{{ object.device }}</a>
  </li>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">
                    Power Outlet
                </h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Device</th>
                            <td>{{ object.device|linkify }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Module</th>
                            <td>{{ object.module|linkify|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Label</th>
                            <td>{{ object.label|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td>{{ object.get_type_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ object.description|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Power Port</th>
                            <td>{{ object.power_port|linkify|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Feed Leg</th>
                            <td>{{ object.get_feed_leg_display|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
            {% include 'inc/panels/tags.html' %}
            {% plugin_left_page object %}
        </div>
        <div class="col col-md-6">
          <div class="card">
            <h5 class="card-header">Connection</h5>
            <div class="card-body">
              {% if object.mark_connected %}
                <div class="text-muted">
                  <span class="text-success"><i class="mdi mdi-check-bold"></i></span> Marked as Connected
                </div>
              {% elif object.cable %}
                {% include 'dcim/inc/connection_endpoints.html' with trace_url='dcim:poweroutlet_trace' %}
              {% else %}
                <div class="text-muted">
                  Not Connected
                  {% if perms.dcim.add_cable %}
                    <a href="{% url 'dcim:cable_add' %}?a_terminations_type=dcim.poweroutlet&a_terminations={{ object.pk }}&b_terminations_type=dcim.powerport&termination_b_site={{ object.device.site.pk }}&termination_b_rack={{ object.device.rack.pk }}&return_url={{ object.get_absolute_url }}" title="Connect" class="btn btn-primary btn-sm float-end">
                      <i class="mdi mdi-ethernet-cable" aria-hidden="true"></i> Connect
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
          {% include 'dcim/inc/panels/inventory_items.html' %}
          {% plugin_right_page object %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col col-md-12">
            {% plugin_full_width_page object %}
        </div>
    </div>
{% endblock %}
