{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="card mb-3">
        <h5 class="card-header">Rack</h5>
        <div class="card-body">
            {% render_field form.region %}
            {% render_field form.site %}
            {% render_field form.group %}
            {% render_field form.name %}
            {% render_field form.status %}
            {% render_field form.role %}
            {% render_field form.tags %}
        </div>
    </div>
    <div class="card mb-3">
        <h5 class="card-header">Inventory Control</h5>
        <div class="card-body">
            {% render_field form.facility_id %}
            {% render_field form.serial %}
            {% render_field form.asset_tag %}
        </div>
    </div>
    <div class="card mb-3">
        <h5 class="card-header">Tenancy</h5>
        <div class="card-body">
            {% render_field form.tenant_group %}
            {% render_field form.tenant %}
        </div>
    </div>
    <div class="card mb-3">
        <h5 class="card-header">Dimensions</h5>
        <div class="card-body">
            {% render_field form.type %}
            {% render_field form.width %}
            {% render_field form.u_height %}
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Outer dimensions</label>
                <div class="col-md-3">
                    {{ form.outer_width }}
                </div>
                <div class="col-md-3">
                    {{ form.outer_depth }}
                </div>
                <div class="col-md-2">
                    {{ form.outer_unit }}
                </div>
            </div>
            {% render_field form.desc_units %}
        </div>
    </div>
    {% if form.custom_fields %}
        <div class="card">
            <h5 class="card-header">Custom Fields</h5>
            <div class="card-body">
                {% render_custom_fields form %}
            </div>
        </div>
    {% endif %}
    <div class="card">
        <h5 class="card-header">Comments</h5>
        <div class="card-body">
            {% render_field form.comments %}
        </div>
    </div>
{% endblock %}
