{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load tz %}
{% load i18n %}
{% load l10n %}
{% load mptt %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.region %}
    {% for region in object.region.get_ancestors %}
      <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?region_id={{ region.pk }}">{{ region }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?region_id={{ object.region.pk }}">{{ object.region }}</a></li>
  {% elif object.group %}
    {% for group in object.group.get_ancestors %}
      <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ group.pk }}">{{ group }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ object.group.pk }}">{{ object.group }}</a></li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Site" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Region" %}</th>
          <td>
            {% nested_tree object.region %}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Group" %}</th>
          <td>
            {% nested_tree object.group %}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Status" %}</th>
          <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Tenant" %}</th>
          <td>
            {% if object.tenant.group %}
              {{ object.tenant.group|linkify }} /
            {% endif %}
            {{ object.tenant|linkify|placeholder }}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Facility" %}</th>
          <td>{{ object.facility|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Description" %}</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Time Zone" %}</th>
          <td>
            {% if object.time_zone %}
              {{ object.time_zone }} ({% trans "UTC" %} {{ object.time_zone|tzoffset }})<br />
              <small class="text-muted">{% trans "Site time" %}: {% timezone object.time_zone %}{% now 'Y-m-d H:i' %}{% endtimezone %}</small>
            {% else %}
              {{ ''|placeholder }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Physical Address" %}</th>
          <td class="d-flex justify-content-between">
            {% if object.physical_address %}
              <span>{{ object.physical_address|linebreaksbr }}</span>
              {% if config.MAPS_URL %}
                <a href="{{ config.MAPS_URL }}{{ object.physical_address|urlencode }}" target="_blank" class="btn btn-primary btn-sm d-print-none">
                  <i class="mdi mdi-map-marker"></i> {% trans "Map" %}
                </a>
              {% endif %}
            {% else %}
              {{ ''|placeholder }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Shipping Address" %}</th>
          <td>{{ object.shipping_address|linebreaksbr|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "GPS Coordinates" %}</th>
          <td class="position-relative">
            {% if object.latitude and object.longitude %}
              {% if config.MAPS_URL %}
                <div class="position-absolute top-50 end-0 translate-middle-y d-print-none">
                  <a href="{{ config.MAPS_URL }}{{ object.latitude|unlocalize }},{{ object.longitude|unlocalize }}" target="_blank" class="btn btn-primary">
                    <i class="mdi mdi-map-marker"></i> {% trans "Map It" %}
                  </a>
                </div>
                {% endif %}
              <span>{{ object.latitude }}, {{ object.longitude }}</span>
            {% else %}
              {{ ''|placeholder }}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
    {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/related_objects.html' with filter_name='site_id' %}
      {% include 'inc/panels/image_attachments.html' %}
      {% plugin_right_page object %}
	</div>
</div>
<div class="row">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">
        {% trans "Locations" %}
        {% if perms.dcim.add_location %}
          <div class="card-actions">
            <a href="{% url 'dcim:location_add' %}?site={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Add a Location" %}
            </a>
          </div>
        {% endif %}
      </h5>
      {% htmx_table 'dcim:location_list' site_id=object.pk %}
    </div>
    <div class="card">
      <h5 class="card-header">
        {% trans "Non-Racked Devices" %}
        {% if perms.dcim.add_device %}
          <div class="card-actions">
            <a href="{% url 'dcim:device_add' %}?site={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Add a Device" %}
            </a>
          </div>
        {% endif %}
      </h5>
      {% htmx_table 'dcim:device_list' site_id=object.pk rack_id='null' parent_bay_id='null' %}
    </div>
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
