{% extends 'dcim/device/base.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load static %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h5 class="d-inline">Interfaces</h5>
            <div class="float-end col-md-4 noprint table-controls mw-33">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control interface-filter" placeholder="Filter" title="Filter text (regular expressions supported)" />
                    <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-table-cog"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                            <button
                                type="button"
                                class="dropdown-item"
                                data-bs-toggle="modal"
                                data-bs-target="#DeviceInterfaceTable_config"
                                title="Configure Table">
                                Configure Table
                            </button>
                        {% endif %}
                        <button type="button" class="dropdown-item toggle-enabled" data-state="show">Hide Enabled</button>
                        <button type="button" class="dropdown-item toggle-disabled" data-state="show">Hide Disabled</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% render_table interface_table 'inc/table.html' %}
        </div>
        <div class="card-footer noprint">
            {% if perms.dcim.change_interface %}
                <button type="submit" name="_rename" formaction="{% url 'dcim:interface_bulk_rename' %}?return_url={% url 'dcim:device_interfaces' pk=object.pk %}" class="btn btn-outline-warning btn-sm">
                    <i class="mdi mdi-pencil-outline" aria-hidden="true"></i> Rename
                </button>
                <button type="submit" name="_edit" formaction="{% url 'dcim:interface_bulk_edit' %}?device={{ object.pk }}&return_url={% url 'dcim:device_interfaces' pk=object.pk %}" class="btn btn-warning btn-sm">
                    <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
                </button>
                <button type="submit" name="_disconnect" formaction="{% url 'dcim:interface_bulk_disconnect' %}?return_url={% url 'dcim:device_interfaces' pk=object.pk %}" class="btn btn-outline-danger btn-sm">
                    <span class="mdi mdi-ethernet-cable-off" aria-hidden="true"></span> Disconnect
                </button>
            {% endif %}
            {% if perms.dcim.delete_interface %}
                <button type="submit" name="_delete" formaction="{% url 'dcim:interface_bulk_delete' %}?return_url={% url 'dcim:device_interfaces' pk=object.pk %}" class="btn btn-danger btn-sm">
                    <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> Delete
                </button>
            {% endif %}
            {% if perms.dcim.add_interface %}
                <div class="float-end">
                    <a href="{% url 'dcim:interface_add' %}?device={{ object.pk }}&return_url={% url 'dcim:device_interfaces' pk=object.pk %}" class="btn btn-primary btn-sm">
                        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add Interfaces
                    </a>
                </div>
            {% endif %}
            <div class="clearfix"></div>
            </div>
    </div>
</form>
{% include 'inc/paginator.html' with paginator=interface_table.paginator page=interface_table.page %}
{% table_config_form interface_table %}
{% endblock %}
