{% extends 'generic/object_children.html' %}
{% load i18n %}

{% block bulk_delete_controls %}
    {{ block.super }}
    {% if 'bulk_remove_devices' in actions %}
        <button type="submit" name="_remove"
                {% formaction %}="{% url 'virtualization:cluster_remove_devices' pk=object.pk %}?return_url={{ return_url }}"
                class="btn btn-danger">
            <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> {% trans "Remove Selected" %}
        </button>
    {% endif %}
{% endblock bulk_delete_controls %}
