{% extends 'virtualization/cluster/base.html' %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        Host Devices
      </h5>
      <form action="{% url 'virtualization:cluster_remove_devices' pk=object.pk %}" method="post">
      {% csrf_token %}
      <div class="card-body">
        {% include 'responsive_table.html' with table=devices_table %}
      </div>
      {% if perms.virtualization.change_cluster %}
        <div class="card-footer noprint">
          <button type="submit" name="_remove" class="btn btn-danger btn-sm">
            <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Remove Devices
          </button>
        </div>
      {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
