{% extends 'ipam/iprange/base.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
              IP Range
            </h5>
            <div class="card-body">
              <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">Family</th>
                    <td>IPv{{ object.family }}</td>
                </tr>
                <tr>
                    <th scope="row">Starting Address</th>
                    <td>{{ object.start_address }}</td>
                </tr>
                <tr>
                    <th scope="row">Ending Address</th>
                    <td>{{ object.end_address }}</td>
                </tr>
                <tr>
                    <th scope="row">Size</th>
                    <td>{{ object.size }}</td>
                </tr>
                <tr>
                    <th scope="row">Utilization</th>
                    <td>
                      {% utilization_graph object.utilization %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">VRF</th>
                    <td>
                        {% if object.vrf %}
                            <a href="{{ object.vrf.get_absolute_url }}">{{ object.vrf }}</a> ({{ object.vrf.rd }})
                        {% else %}
                            <span>Global</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Role</th>
                    <td>
                        {% if object.role %}
                            <a href="{{ object.role.get_absolute_url }}">{{ object.role }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>
                        <span class="badge bg-{{ object.get_status_class }}">{{ object.get_status_display }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tenant</th>
                    <td>
                        {% if object.tenant %}
                            {% if object.tenant.group %}
                                <a href="{{ object.tenant.group.get_absolute_url }}">{{ object.tenant.group }}</a> /
                            {% endif %}
                            <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
              </table>
            </div>
        </div>
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
        {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='ipam:prefix_list' %}
        {% include 'inc/custom_fields_panel.html' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
