{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'ipam:prefix_list' %}">Prefixes</a></li>
  {% if object.vrf %}
    <li class="breadcrumb-item"><a href="{% url 'ipam:vrf' pk=object.vrf.pk %}">{{ object.vrf }}</a></li>
  {% endif %}
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block extra_controls %}
  {% include 'ipam/inc/toggle_available.html' %}
  {% if perms.ipam.add_prefix and active_tab == 'prefixes' and first_available_prefix %}
  <div class="mx-1">
    <a href="{% url 'ipam:prefix_add' %}?prefix={{ first_available_prefix }}&vrf={{ object.vrf.pk }}&site={{ object.site.pk }}&tenant_group={{ object.tenant.group.pk }}&tenant={{ object.tenant.pk }}" class="btn btn-sm btn-success">
      <i class="bi bi-plus" aria-hidden="true"></i> Add Child Prefix
    </a>
  </div>
  {% endif %}
  {% if perms.ipam.add_ipaddress and active_tab == 'ip-addresses' and first_available_ip %}
  <div class="mx-1">
    <a href="{% url 'ipam:ipaddress_add' %}?address={{ first_available_ip }}&vrf={{ object.vrf.pk }}&tenant_group={{ object.tenant.group.pk }}&tenant={{ object.tenant.pk }}" class="btn btn-sm btn-success">
      <i class="bi bi-plus" aria-hidden="true"></i>
      Add an IP Address
    </a>
  </div>
  {% endif %}
  {% comment %} {{ block.super }} {% endcomment %}
{% endblock %}


{% block tab_items %}
<li role="presentation" class="nav-item">
    <a class="nav-link{% if not active_tab %} active{% endif %}" href="{% url 'ipam:prefix' pk=object.pk %}">
        Prefix
    </a>
</li>
<li role="presentation" class="nav-item">
    <a class="nav-link{% if active_tab %} active{% endif %}" href="{% url 'ipam:prefix_prefixes' pk=object.pk %}">
        Child Prefixes <span class="badge bg-primary">{{ object.get_child_prefixes.count }}</span>
    </a>
</li>
{% if perms.ipam.view_ipaddress and object.status != 'container' %}
<li role="presentation" class="nav-item">
    <a class="nav-link{% if active_tab %} active{% endif %}" href="{% url 'ipam:prefix_ipaddresses' pk=object.pk %}">
        IP Addresses <span class="badge bg-primary">{{ object.get_child_ips.count }}</span>
    </a>
</li>
{% endif %}
{% if perms.extras.view_objectchange %}
<li role="presentation" class="nav-item">
    <a
        class="nav-link{% if active_tab == 'changelog' %} active{% endif %}"
        href="{% url 'ipam:prefix_changelog' pk=object.pk %}"
    >
        Change Log
    </a>
</li>
{% endif %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <h5 class="card-header">
                Prefix
            </h5>
            <div class="card-body">
            <table class="table table-hover attr-table">
                <tr>
                    <td colspan="2">
                    <span class="badge bg-{{ object.get_status_class }}">{{ object.get_status_display }}</span>
                    {% if object.is_pool %}
                        <span class="badge bg-success">Is a Pool</span>
                    {% else %}
                        <span class="badge bg-info">Not a Pool</span>
                    {% endif %}
                    </td>

                </tr>
                <tr>
                    <th scope="row">Family</th>
                    <td>IPv{{ object.family }}</td>
                </tr>
                <tr>
                    <th scope="row">VRF</th>
                    <td>
                        {% if object.vrf %}
                            <a href="{% url 'ipam:vrf' pk=object.vrf.pk %}">{{ object.vrf }}</a> ({{ object.vrf.rd }})
                        {% else %}
                            <span>Global</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tenant</th>
                    <td>
                        {% if object.tenant %}
                            {% if object.tenant.group %}
                                <a href="{{ object.tenant.group.get_absolute_url }}">{{ object.tenant.group }}</a> /
                            {% endif %}
                            <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Aggregate</th>
                    <td>
                        {% if aggregate %}
                            <a href="{% url 'ipam:aggregate' pk=aggregate.pk %}">{{ aggregate.prefix }}</a> ({{ aggregate.rir }})
                        {% else %}
                            <span class="text-warning">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Site</th>
                    <td>
                        {% if object.site %}
                            {% if object.site.region %}
                                <a href="{{ object.site.region.get_absolute_url }}">{{ object.site.region }}</a> /
                            {% endif %}
                            <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">VLAN</th>
                    <td>
                        {% if object.vlan %}
                            {% if object.vlan.group %}
                                <a href="{{ object.vlan.group.get_absolute_url }}">{{ object.vlan.group }}</a> /
                            {% endif %}
                            <a href="{% url 'ipam:vlan' pk=object.vlan.pk %}">{{ object.vlan.display_name }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Role</th>
                    <td>
                        {% if object.role %}
                            <a href="{% url 'ipam:prefix_list' %}?role={{ object.role.slug }}">{{ object.role }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Utilization</th>
                    <td>{% utilization_graph object.get_utilization %}</td>
                </tr>
            </table>
            </div>
        </div>
        {% include 'inc/custom_fields_panel.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col-md-7">
        {% if duplicate_prefix_table.rows %}
            {% include 'panel_table.html' with table=duplicate_prefix_table heading='Duplicate Prefixes' %}
        {% endif %}
        {% include 'panel_table.html' with table=parent_prefix_table heading='Parent Prefixes' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row my-3">
    <div class="col-md-5">
    {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='ipam:prefix_list' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
