{% extends 'ipam/prefix/base.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row">
    <div class="col col-md-5">
        <div class="card">
            <h5 class="card-header">
                Prefix
            </h5>
            <div class="card-body">
            <table class="table table-hover attr-table">
                <tr>
                    <td colspan="2">
                    <span class="badge bg-{{ object.get_status_class }}">{{ object.get_status_display }}</span>
                    {% if object.is_pool %}
                        <span class="badge bg-success">Is a Pool</span>
                    {% else %}
                        <span class="badge bg-info">Not a Pool</span>
                    {% endif %}
                    </td>

                </tr>
                <tr>
                    <th scope="row">Family</th>
                    <td>IPv{{ object.family }}</td>
                </tr>
                <tr>
                    <th scope="row">VRF</th>
                    <td>
                        {% if object.vrf %}
                            <a href="{% url 'ipam:vrf' pk=object.vrf.pk %}">{{ object.vrf }}</a> ({{ object.vrf.rd }})
                        {% else %}
                            <span>Global</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tenant</th>
                    <td>
                        {% if object.tenant %}
                            {% if object.tenant.group %}
                                <a href="{{ object.tenant.group.get_absolute_url }}">{{ object.tenant.group }}</a> /
                            {% endif %}
                            <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Aggregate</th>
                    <td>
                        {% if aggregate %}
                            <a href="{% url 'ipam:aggregate' pk=aggregate.pk %}">{{ aggregate.prefix }}</a> ({{ aggregate.rir }})
                        {% else %}
                            <span class="text-warning">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Site</th>
                    <td>
                        {% if object.site %}
                            {% if object.site.region %}
                                <a href="{{ object.site.region.get_absolute_url }}">{{ object.site.region }}</a> /
                            {% endif %}
                            <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">VLAN</th>
                    <td>
                        {% if object.vlan %}
                            {% if object.vlan.group %}
                                <a href="{{ object.vlan.group.get_absolute_url }}">{{ object.vlan.group }}</a> /
                            {% endif %}
                            <a href="{% url 'ipam:vlan' pk=object.vlan.pk %}">{{ object.vlan.display_name }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Role</th>
                    <td>
                        {% if object.role %}
                            <a href="{{ object.role.get_absolute_url }}">{{ object.role }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Utilization</th>
                    <td>{% utilization_graph object.get_utilization %}</td>
                </tr>
            </table>
            </div>
        </div>
        {% include 'inc/custom_fields_panel.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-7">
        {% if duplicate_prefix_table.rows %}
            {% include 'panel_table.html' with table=duplicate_prefix_table heading='Duplicate Prefixes' %}
        {% endif %}
        {% include 'panel_table.html' with table=parent_prefix_table heading='Parent Prefixes' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row my-3">
    <div class="col col-md-5">
    {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='ipam:prefix_list' %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
