{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'ipam:role_list' %}">Roles</a></li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        Role
      </h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td>{{ object.weight }}</td>
          </tr>
          <tr>
            <th scope="row">Prefixes</th>
            <td>
              <a href="{% url 'ipam:prefix_list' %}?role_id={{ object.pk }}">{{ prefixes_table.rows|length }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
    {% include 'inc/custom_fields_panel.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row mb-3">
	<div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">
        Prefixes
      </h5>
      <div class="card-body">
        {% include 'inc/table.html' with table=prefixes_table %}
      </div>
      {% if perms.ipam.add_prefix %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'ipam:prefix_add' %}?role={{ object.pk }}" class="btn btn-sm btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Prefix
          </a>
        </div>
      {% endif %}
    </div>
    {% include 'inc/paginator.html' with paginator=prefixes_table.paginator page=prefixes_table.page %}
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
