{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.scope %}
    {# TODO: This should link to a filtered list of VLANGroups #}
    <li class="breadcrumb-item"><a href="{{ object.scope.get_absolute_url }}">{{ object.scope }}</a></li>
  {% endif %}
{% endblock %}

{% block buttons %}
  {% if perms.ipam.add_vlan %}
    <a href="{% url 'ipam:vlan_add' %}?group={{ object.pk }}" class="btn btn-success">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add VLAN
    </a>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        VLAN Group
      </h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Scope</th>
            <td>
            {% if object.scope %}
              <a href="{{ object.scope.get_absolute_url }}">{{ object.scope }}</a>
            {% else %}
              <span class="text-muted">&mdash;</span>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">VLANs</th>
            <td>
              <a href="{% url 'ipam:vlan_list' %}?group_id={{ object.pk }}">{{ vlans_count }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
    {% include 'inc/panels/custom_fields.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row mb-3">
	<div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">
        VLANs
      </h5>
      <div class="card-body">
        {% include 'inc/table.html' with table=vlans_table %}
      </div>
      {% if perms.ipam.add_vlan %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'ipam:vlan_add' %}?group={{ object.pk }}" class="btn btn-sm btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add VLAN
          </a>
        </div>
      {% endif %}
    </div>
    {% include 'inc/paginator.html' with paginator=vlans_table.paginator page=vlans_table.page %}
    </div>
</div>
{% endblock %}

