{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load helpers %}

{% block form %}
    <div class="field-group">
        <h5 class="text-center">VLAN Group</h5>
        {% render_field form.name %}
        {% render_field form.slug %}
        {% render_field form.description %}
    </div>
    <div class="field-group">
        <h5 class="text-center">Scope</h5>
        {% render_field form.scope_type %}
        {% render_field form.region %}
        {% render_field form.sitegroup %}
        {% render_field form.site %}
        {% render_field form.location %}
        {% render_field form.rack %}
        {% render_field form.clustergroup %}
        {% render_field form.cluster %}
    </div>
    {% if form.custom_fields %}
        <div class="field-group">
            <h5 class="text-center">Custom Fields</h5>
            {% render_custom_fields form %}
        </div>
    {% endif %}
{% endblock %}

