{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        Cluster Group
      </h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Clusters</th>
            <td>
              <a href="{% url 'virtualization:cluster_list' %}?group_id={{ object.pk }}">{{ clusters_table.rows|length }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/contacts.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
	<div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">
        Clusters
      </h5>
      <div class="card-body">
        {% include 'inc/table.html' with table=clusters_table %}
      </div>
      {% if perms.virtualization.add_cluster %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'virtualization:cluster_add' %}?group={{ object.pk }}" class="btn btn-sm btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Cluster
          </a>
        </div>
      {% endif %}
    </div>
    {% include 'inc/paginator.html' with paginator=clusters_table.paginator page=clusters_table.page %}
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
