{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block controls %}
  <div class="controls">
    <div class="control-group">
      {% plugin_buttons object %}
    </div>
    <div class="control-group">
      {% custom_links object %}
    </div>
  </div>
{% endblock controls %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Rack Elevation" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Rack elevation default unit height" %}:</th>
              <td>{{ object.data.RACK_ELEVATION_DEFAULT_UNIT_HEIGHT }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Rack elevation default unit width" %}:</th>
              <td>{{ object.data.RACK_ELEVATION_DEFAULT_UNIT_WIDTH }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "Power" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Powerfeed default voltage" %}:</th>
              <td>{{ object.data.POWERFEED_DEFAULT_VOLTAGE }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Powerfeed default amperage" %}:</th>
              <td>{{ object.data.POWERFEED_DEFAULT_AMPERAGE }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Powerfeed default max utilization" %}:</th>
              <td>{{ object.data.POWERFEED_DEFAULT_MAX_UTILIZATION }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "IPAM" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Enforce global unique" %}:</th>
              <td>{{ object.data.ENFORCE_GLOBAL_UNIQUE }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Prefer IPv4" %}:</th>
              <td>{{ object.data.PREFER_IPV4 }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "Security" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Allowed URL schemes" %}:</th>
              <td>{{ object.data.ALLOWED_URL_SCHEMES }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "Banners" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Login banner" %}:</th>
              <td>{{ object.data.BANNER_LOGIN }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Maintenance banner" %}:</th>
              <td>{{ object.data.BANNER_MAINTENANCE }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Top banner" %}:</th>
              <td>{{ object.data.BANNER_TOP }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Bottom banner" %}:</th>
              <td>{{ object.data.BANNER_BOTTOM }}</td>
            </tr>
          </table>
        </div>
      </div>


    </div>
    <div class="col col-md-6">

      <div class="card">
        <h5 class="card-header">{% trans "Pagination" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Paginate count" %}:</th>
              <td>{{ object.data.PAGINATE_COUNT }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Max page size" %}:</th>
              <td>{{ object.data.MAX_PAGE_SIZE }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "Validation" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Custom validators" %}:</th>
              <td>{{ object.data.CUSTOM_VALIDATORS }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "User Preferences" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Default user preferences" %}:</th>
              <td>{{ object.data.DEFAULT_USER_PREFERENCES }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "Miscellaneous" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Maintenance mode" %}:</th>
              <td>{{ object.data.MAINTENANCE_MODE }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "GraphQL enabled" %}:</th>
              <td>{{ object.data.GRAPHQL_ENABLED }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Changelog retention" %}:</th>
              <td>{{ object.data.CHANGELOG_RETENTION }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Job retention" %}:</th>
              <td>{{ object.data.JOB_RETENTION }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Maps URL" %}:</th>
              <td>{{ object.data.MAPS_URL }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "Config Revision" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Comment" %}:</th>
              <td>{{ object.comment }}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
