{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Event Rule" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Enabled" %}</th>
            <td>{% checkmark object.enabled %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h5 class="card-header">{% trans "Object Types" %}</h5>
        <table class="table table-hover attr-table">
          {% for object_type in object.object_types.all %}
            <tr>
              <td>{{ object_type }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="card">
        <h5 class="card-header">{% trans "Events" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Create" %}</th>
            <td>{% checkmark object.type_create %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Update" %}</th>
            <td>{% checkmark object.type_update %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Delete" %}</th>
            <td>{% checkmark object.type_delete %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Job start" %}</th>
            <td>{% checkmark object.type_job_start %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Job end" %}</th>
            <td>{% checkmark object.type_job_end %}</td>
          </tr>
        </table>
      </div>
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          {% trans "Conditions" %}
        </h5>
        <div class="card-body">
          {% if object.conditions %}
            <pre>{{ object.conditions|json }}</pre>
          {% else %}
            <p class="text-muted">{% trans "None" %}</p>
          {% endif %}
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">{% trans "Action" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{{ object.get_action_type_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Object" %}</th>
            <td>
                {{ object.action_object|linkify }}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Data" %}</th>
            <td>
              {% if object.action_data %}
                <pre>{{ object.action_data|json }}</pre>
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
