{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block title %}{{ object.name }} ({{object.job_id}}){% endblock %}

{# JobResult does not support add/edit controls #}
{% block controls %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          Tag
        </h5>
        <div class="card-body">
          <table class="table table-hover panel-body attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>
                {{ object.name }}
              </td>
            </tr>
            <tr>
              <th scope="row">Created</th>
              <td>
                  {{ object.created|annotated_date }}
              </td>
            </tr>
            <tr>
              <th scope="row">Completed</th>
              <td>
                  {{ object.completed|annotated_date }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          TODO
        </h5>
        <div class="card-body">
          <table class="table table-hover panel-body attr-table">
            TODO
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
