{% extends 'layout.html' %}
{% load helpers %}

{% block title %}{{ report.name }}{% endblock %}

{% block breadcrumb_main %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'extras:report_list' %}">Reports</a></li>
        <li class="breadcrumb-item"><a href="{% url 'extras:report_list' %}#module.{{ report.module }}">{{ report.module|bettertitle }}</a></li>
        <li class="breadcrumb-item">{{ report.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
{% if report.description %}
        <p class="text-muted">{{ report.description }}</p>
{% endif %}
{% if perms.extras.run_report %}
<div class="float-end noprint">
    <form action="{% url 'extras:report' module=report.module name=report.class_name %}" method="post">
        {% csrf_token %}
        <button type="submit" name="_run" class="btn btn-primary">
            {% if report.result %}
                <i class="mdi mdi-replay"></i> Run Again
            {% else %}
                <i class="mdi mdi-play"></i> Run Report
            {% endif %}
        </button>
    </form>
</div>
{% endif %}
<div class="row">
    <div class="col col-md-12">
        {% if report.result %}
            Last run: <a href="{% url 'extras:report_result' job_result_pk=report.result.pk %}">
                <strong>{{ report.result.created }}</strong>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}
