{% extends 'base/layout.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load i18n %}

{% block title %}{% trans "Reports" %}{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs px-3">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" role="tab">{% trans "Reports" %}</a>
    </li>
  </ul>
{% endblock tabs %}

{% block controls %}
  <div class="controls">
    <div class="control-group">
      {% block extra_controls %}{% endblock %}
      {% add_button model %}
    </div>
  </div>
{% endblock controls %}

{% block content-wrapper %}
  <div class="tab-content">
    {% for module in report_modules %}
      <div class="card">
        <h5 class="card-header" id="module{{ module.pk }}">
          {% if perms.extras.delete_reportmodule %}
            <div class="float-end">
              <a href="{% url 'extras:reportmodule_delete' pk=module.pk %}" class="btn btn-danger btn-sm">
                <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> {% trans "Delete" %}
              </a>
            </div>
          {% endif %}
          <i class="mdi mdi-file-document-outline"></i> {{ module }}
        </h5>
        <div class="card-body">
          {% include 'inc/sync_warning.html' with object=module %}
          {% if module.reports %}
            <table class="table table-hover table-headings reports">
              <thead>
                <tr>
                  <th width="250">{% trans "Name" %}</th>
                  <th>{% trans "Description" %}</th>
                  <th>{% trans "Last Run" %}</th>
                  <th>{% trans "Status" %}</th>
                  <th width="120"></th>
                </tr>
              </thead>
              <tbody>
                {% with jobs=module.get_latest_jobs %}
                  {% for report_name, report in module.reports.items %}
                    {% with last_job=jobs|get_key:report.class_name %}
                      <tr>
                        <td>
                          <a href="{% url 'extras:report' module=module.python_name name=report.class_name %}" id="{{ report.module }}.{{ report.class_name }}">{{ report.name }}</a>
                        </td>
                        <td>{{ report.description|markdown|placeholder }}</td>
                        {% if last_job %}
                          <td>
                            <a href="{% url 'extras:report_result' job_pk=last_job.pk %}">{{ last_job.created|annotated_date }}</a>
                          </td>
                          <td>
                            {% badge last_job.get_status_display last_job.get_status_color %}
                          </td>
                        {% else %}
                          <td class="text-muted">{% trans "Never" %}</td>
                          <td>
                            {% if report.is_valid %}
                              {{ ''|placeholder }}
                            {% else %}
                              <span class="badge bg-danger" title="{% trans "Report has no test methods" %}">
                                {% trans "Invalid" %}
                              </span>
                            {% endif %}
                          </td>
                        {% endif %}
                        <td>
                          {% if perms.extras.run_report and report.is_valid %}
                            <div class="float-end noprint">
                              <form action="{% url 'extras:report' module=report.module name=report.class_name %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="_run" class="btn btn-primary btn-sm" style="width: 110px">
                                  {% if last_job %}
                                    <i class="mdi mdi-replay"></i> {% trans "Run Again" %}
                                  {% else %}
                                    <i class="mdi mdi-play"></i> {% trans "Run Report" %}
                                  {% endif %}
                                </button>
                              </form>
                            </div>
                          {% endif %}
                        </td>
                      </tr>
                      {% for method, stats in last_job.data.items %}
                        <tr>
                          <td colspan="4" class="method">
                            <span class="ps-3">{{ method }}</span>
                          </td>
                          <td class="text-end text-nowrap report-stats">
                            <span class="badge bg-success">{{ stats.success }}</span>
                            <span class="badge bg-info">{{ stats.info }}</span>
                            <span class="badge bg-warning">{{ stats.warning }}</span>
                            <span class="badge bg-danger">{{ stats.failure }}</span>
                          </td>
                        </tr>
                      {% endfor %}
                    {% endwith %}
                  {% endfor %}
                {% endwith %}
              </tbody>
            </table>
          {% else %}
            <div class="alert alert-warning" role="alert">
              <i class="mdi mdi-alert"></i> Could not load reports from {{ module.name }}
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">{% trans "No Reports Found" %}</h4>
        {% if perms.extras.add_reportmodule %}
          {% url 'extras:reportmodule_add' as create_report_url %}
          {% blocktrans trimmed %}
            Get started by <a href="{{ create_report_url }}">creating a report</a> from an uploaded file or data source.
          {% endblocktrans %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content-wrapper %}
