{% extends 'base/layout.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}

{% block title %}Reports{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs px-3">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" role="tab">Reports</a>
    </li>
  </ul>
{% endblock tabs %}

{% block controls %}
  <div class="controls">
    <div class="control-group">
      {% block extra_controls %}{% endblock %}
      {% add_button model %}
    </div>
  </div>
{% endblock controls %}

{% block content-wrapper %}
  <div class="tab-content">
    {% for module in report_modules %}
      <div class="card">
        <h5 class="card-header" id="module{{ module.pk }}">
          {% if perms.extras.delete_reportmodule %}
            <div class="float-end">
              <a href="{% url 'extras:reportmodule_delete' pk=module.pk %}" class="btn btn-danger btn-sm">
                <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> Delete
              </a>
            </div>
          {% endif %}
          <i class="mdi mdi-file-document-outline"></i> {{ module.name|bettertitle }}
        </h5>
        <div class="card-body">
          {% include 'inc/sync_warning.html' with object=module %}
          <table class="table table-hover table-headings reports">
            <thead>
              <tr>
                <th width="250">Name</th>
                <th>Description</th>
                <th>Last Run</th>
                <th>Status</th>
                <th width="120"></th>
              </tr>
            </thead>
            <tbody>
              {% for report_name, report in module.reports.items %}
                {% with last_result=job_results|get_key:report.full_name %}
                  <tr>
                    <td>
                      <a href="{% url 'extras:report' module=module.path name=report.class_name %}" id="{{ report.module }}.{{ report.class_name }}">{{ report.name }}</a>
                    </td>
                    <td>{{ report.description|markdown|placeholder }}</td>
                    {% if last_result %}
                      <td>
                        <a href="{% url 'extras:report_result' job_result_pk=last_result.pk %}">{{ last_result.created|annotated_date }}</a>
                      </td>
                      <td>
                        {% badge last_result.get_status_display last_result.get_status_color %}
                      </td>
                    {% else %}
                      <td class="text-muted">Never</td>
                      <td>{{ ''|placeholder }}</td>
                    {% endif %}
                    <td>
                      {% if perms.extras.run_report %}
                        <div class="float-end noprint">
                          <form action="{% url 'extras:report' module=report.module name=report.class_name %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="_run" class="btn btn-primary btn-sm" style="width: 110px">
                              {% if last_result %}
                                <i class="mdi mdi-replay"></i> Run Again
                              {% else %}
                                <i class="mdi mdi-play"></i> Run Report
                              {% endif %}
                            </button>
                          </form>
                        </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% for method, stats in last_result.data.items %}
                    <tr>
                      <td colspan="4" class="method">
                        <span class="ps-3">{{ method }}</span>
                      </td>
                      <td class="text-end text-nowrap report-stats">
                        <span class="badge bg-success">{{ stats.success }}</span>
                        <span class="badge bg-info">{{ stats.info }}</span>
                        <span class="badge bg-warning">{{ stats.warning }}</span>
                        <span class="badge bg-danger">{{ stats.failure }}</span>
                      </td>
                    </tr>
                  {% endfor %}
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% empty %}
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No Reports Found</h4>
        Reports should be saved to <code>{{ settings.REPORTS_ROOT }}</code>.
        <hr/>
        <small>This path can be changed by setting <code>REPORTS_ROOT</code> in NetBox's configuration.</small>
      </div>
    {% endfor %}
  </div>
{% endblock content-wrapper %}
