{% extends 'generic/_base.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load i18n %}

{% block title %}{% trans "Scripts" %}{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" role="tab">{% trans "Scripts" %}</a>
    </li>
  </ul>
{% endblock tabs %}

{% block controls %}
  {% add_button model %}
{% endblock controls %}

{% block content %}
  {% for module in script_modules %}
    {% include 'inc/sync_warning.html' with object=module %}
    <div class="card">
      <h5 class="card-header justify-content-between" id="module{{ module.pk }}">
        <div>
          <i class="mdi mdi-file-document-outline"></i> {{ module }}
        </div>
        <div>
          {% if perms.extras.edit_scriptmodule %}
            <a href="{% url 'extras:scriptmodule_edit' pk=module.pk %}" class="btn btn-warning btn-sm">
              <i class="mdi mdi-pencil" aria-hidden="true"></i> {% trans "Edit" %}
            </a>
          {% endif %}
          {% if perms.extras.delete_scriptmodule %}
            <a href="{% url 'extras:scriptmodule_delete' pk=module.pk %}" class="btn btn-danger btn-sm">
              <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> {% trans "Delete" %}
            </a>
          {% endif %}
        </div>
      </h5>
      {% if module.scripts %}
        <table class="table table-hover scripts">
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Description" %}</th>
              <th>{% trans "Last Run" %}</th>
              <th>{% trans "Status" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for script in module.scripts.all %}
              {% with last_job=script.get_latest_jobs|get_key:script.name %}
                <tr>
                  <td>
                    {% if script.is_executable %}
                      <a href="{% url 'extras:script' script.pk %}" id="{{ script.module }}.{{ script.class_name }}">{{ script.python_class.name }}</a>
                    {% else %}
                      <a href="{% url 'extras:script_jobs' script.pk %}" id="{{ script.module }}.{{ script.class_name }}">{{ script.python_class.name }}</a>
                      <span class="text-danger">
                        <i class="mdi mdi-alert" title="{% trans "Script is no longer present in the source file" %}"></i>
                      </span>
                    {% endif %}
                  </td>
                  <td>{{ script.python_class.Meta.description|markdown|placeholder }}</td>
                  {% if last_job %}
                    <td>
                      <a href="{% url 'extras:script_result' job_pk=last_job.pk %}">{{ last_job.created|isodatetime }}</a>
                    </td>
                    <td>
                      {% badge last_job.get_status_display last_job.get_status_color %}
                    </td>
                  {% else %}
                    <td class="text-muted">{% trans "Never" %}</td>
                    <td>{{ ''|placeholder }}</td>
                  {% endif %}
                  <td>
                    {% if request.user|can_run:script and script.is_executable %}
                      <div class="float-end d-print-none">
                        <form action="{% url 'extras:script' script.pk %}" method="post">
                          {% csrf_token %}
                          <button type="submit" name="_run" class="btn btn-primary btn-sm">
                            {% if last_job %}
                              <i class="mdi mdi-replay"></i> {% trans "Run Again" %}
                            {% else %}
                              <i class="mdi mdi-play"></i> {% trans "Run Script" %}
                            {% endif %}
                          </button>
                        </form>
                      </div>
                    {% endif %}
                  </td>
                </tr>
                {% if last_job %}
                  {% for test_name, data in last_job.data.tests.items %}
                    <tr>
                      <td colspan="4" class="method">
                        <span class="ps-3">{{ test_name }}</span>
                      </td>
                      <td class="text-end text-nowrap script-stats">
                        <span class="badge text-bg-success">{{ data.success }}</span>
                        <span class="badge text-bg-info">{{ data.info }}</span>
                        <span class="badge text-bg-warning">{{ data.warning }}</span>
                        <span class="badge text-bg-danger">{{ data.failure }}</span>
                      </td>
                    </tr>
                  {% endfor %}
                {% elif not last_job.data.log %}
                  {# legacy #}
                  {% for method, stats in last_job.data.items %}
                    <tr>
                      <td colspan="4" class="method">
                        <span class="ps-3">{{ method }}</span>
                      </td>
                      <td class="text-end text-nowrap report-stats">
                        <span class="badge bg-success">{{ stats.success }}</span>
                        <span class="badge bg-info">{{ stats.info }}</span>
                        <span class="badge bg-warning">{{ stats.warning }}</span>
                        <span class="badge bg-danger">{{ stats.failure }}</span>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="card-body">
          <div class="alert alert-warning" role="alert">
            <i class="mdi mdi-alert"></i> Could not load scripts from {{ module.name }}
          </div>
        </div>
      {% endif %}
    </div>
  {% empty %}
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">{% trans "No Scripts Found" %}</h4>
      {% if perms.extras.add_scriptmodule %}
        {% url 'extras:scriptmodule_add' as create_script_url %}
        {% blocktrans trimmed %}
          Get started by <a href="{{ create_script_url }}">creating a script</a> from an uploaded file or data source.
        {% endblocktrans %}
      {% endif %}
    </div>
  {% endfor %}
{% endblock content %}
