{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li><a href="{% url 'extras:tag_list' %}">Tags</a></li>
  <li>{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        Tag
      </h5>
      <div class="card-body">
        <table class="table table-hover panel-body attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>
              {{ object.name }}
            </td>
          </tr>
          <tr>
            <th scope="row">Slug</th>
            <td>
                {{ object.slug }}
            </td>
          </tr>
          <tr>
            <th scope="row">Tagged Items</th>
            <td>
                {{ items_count }}
            </td>
          </tr>
          <tr>
            <th scope="row">Color</th>
            <td>
                <span class="color-label" style="background-color: #{{ object.color }}">&nbsp;</span>
            </td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>
                {{ object.description|placeholder }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col col-md-6">
    {% include 'panel_table.html' with table=items_table heading='Tagged Objects' %}
    {% include 'inc/paginator.html' with paginator=items_table.paginator page=items_table.page %}
  </div>
</div>
<div class="row">
  <div class="col col-md-12">
    {% include 'inc/paginator.html' with paginator=taggeditem_table.paginator page=taggeditem_table.page %}
  </div>
</div>
{% plugin_full_width_page object %}
{% endblock %}
