{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Webhook" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Name" %}</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Description" %}</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h5 class="card-header">{% trans "HTTP Request" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "HTTP Method" %}</th>
          <td>{{ object.get_http_method_display }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Payload URL" %}</th>
          <td class="font-monospace">{{ object.payload_url }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "HTTP Content Type" %}</th>
          <td>{{ object.http_content_type }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Secret" %}</th>
          <td>{{ object.secret|placeholder }}</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h5 class="card-header">{% trans "SSL" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "SSL Verification" %}</th>
          <td>{% checkmark object.ssl_verification %}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "CA File Path" %}</th>
          <td>{{ object.ca_file_path|placeholder }}</td>
        </tr>
      </table>
    </div>
    {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        {% trans "Additional Headers" %}
      </h5>
      <div class="card-body">
        {% if object.additional_headers %}
          <pre>{{ object.additional_headers }}</pre>
        {% else %}
          <span class="text-muted">{% trans "None" %}</span>
        {% endif %}
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">
        {% trans "Body Template" %}
      </h5>
      <div class="card-body">
        {% if object.body_template %}
          <pre>{{ object.body_template }}</pre>
        {% else %}
          <span class="text-muted">{% trans "None" %}</span>
        {% endif %}
      </div>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
