{% load helpers %}
<table class="table table-hover panel-body attr-table">
    {% if termination.device %}
        {# Device component #}
        <tr>
            <td>Device</td>
            <td>
                <a href="{{ termination.device.get_absolute_url }}">{{ termination.device }}</a>
            </td>
        </tr>
        {% if termination.device.site %}
        <tr>
            <td>Site</td>
            <td>
                <a href="{{ termination.device.site.get_absolute_url }}">{{ termination.device.site }}</a>
            </td>
        </tr>
        {% endif %}
        {% if termination.device.rack %}
        <tr>
            <td>Rack</td>
            <td>
                <a href="{{ termination.device.rack.get_absolute_url }}">{{ termination.device.rack }}</a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Type</td>
            <td>
                {{ termination|meta:"verbose_name"|capfirst }}
            </td>
        </tr>
        <tr>
            <td>Component</td>
            <td>
                <a href="{{ termination.get_absolute_url }}">{{ termination }}</a>
            </td>
        </tr>
    {% else %}
        {# Circuit termination #}
        <tr>
            <td>Provider</td>
            <td>
                <a href="{{ termination.circuit.provider.get_absolute_url }}">{{ termination.circuit.provider }}</a>
            </td>
        </tr>
        <tr>
            <td>Circuit</td>
            <td>
                <a href="{{ termination.circuit.get_absolute_url }}">{{ termination.circuit }}</a> ({{ termination }})
            </td>
        </tr>
    {% endif %}
</table>