{% load form_helpers %}
<div class="card">
    <h5 class="card-header">Cable</h5>
    <div class="card-body">
        {% render_field form.status %}
        {% render_field form.type %}
        {% render_field form.label %}
        {% render_field form.color %}
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-end">{{ form.length.label }}</label>
            <div class="col-md-5">
                {{ form.length }}
            </div>
            <div class="col-md-4">
                {{ form.length_unit }}
            </div>
            <div class="invalid-feedback"></div>
        </div>
        {% render_field form.tags %}
        {% if form.custom_fields %}
          <div class="field-group">
              <h4>Custom Fields</h4>
              {% render_custom_fields form %}
          </div>
        {% endif %}
    </div>
</div>
