{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Installed Plugins" %} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url 'plugins_list' %}">{% trans "Installed Plugins" %}</a>
    </div>
{% endblock %}

{% block content_title %}<h1>{% trans "Installed Plugins" %}{{ queue.name }}</h1>{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module" id="changelist">
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        <th><div class="text"><span>{% trans "Name" %}</span></div></th>
                        <th><div class="text"><span>{% trans "Package Name" %}</span></div></th>
                        <th><div class="text"><span>{% trans "Author" %}</span></div></th>
                        <th><div class="text"><span>{% trans "Author Email" %}</span></div></th>
                        <th><div class="text"><span>{% trans "Description" %}</span></div></th>
                        <th><div class="text"><span>{% trans "Version" %}</span></div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for plugin in plugins %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>
                                {{ plugin.verbose_name }}
                            </td>
                            <td>
                                {{ plugin.name }}
                            </td>
                            <td>
                                {{ plugin.author }}
                            </td>
                            <td>
                                {{ plugin.author_email }}
                            </td>
                            <td>
                                {{ plugin.description }}
                            </td>
                            <td>
                                {{ plugin.version }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
