{% extends 'users/base.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block title %}API Tokens{% endblock %}

{% block content %}
<div class="row">
	<div class="col col-md-12 text-end">
    <a href="{% url 'users:token_add' %}" class="btn btn-sm btn-primary my-3">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add a Token
    </a>
  </div>
</div>
<div class="row mb-3">
	<div class="col col-md-12">
    <div class="card">
      <div class="card-body table-responsive">
        {% render_table table 'inc/table.html' %}
        {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
