{% extends 'base/layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 border-end">
        <nav class="nav nav-pills nav-justified flex-column">
            <a class="nav-item nav-link text-start{% if active_tab == 'profile' %} active{% endif %}" href="{% url 'user:profile' %}">Profile</a>
            <a class="nav-link nav-item text-start{% if active_tab == 'preferences' %} active{% endif %}" href="{% url 'user:preferences' %}">Preferences</a>
            {% if not request.user.ldap_username %}
            <a class="nav-link nav-item text-start{% if active_tab == 'change-password' %} active{% endif %}" href="{% url 'user:change_password' %}">Change Password</a>
            {% endif %}
            <a class="nav-link nav-item text-start{% if active_tab == 'api-tokens' %} active{% endif %}" href="{% url 'user:token_list' %}">API Tokens</a>
        </nav>
    </div>
	<div class="col-sm-9 col-md-10 px-4">
        {% block usercontent %}{% endblock %}
	</div>
</div>
{% endblock %}
