{% extends 'users/base.html' %}
{% load form_helpers %}

{% block title %}Change Password{% endblock %}

{% render_errors form %}

{% block usercontent %}
    <form action="." method="post" class="form form-horizontal col-md-10 col-md-offset-1">
        {% csrf_token %}
        <div class="field-group">
            <h4>Password</h4>
            {% render_field form.old_password %}
            {% render_field form.new_password1 %}
            {% render_field form.new_password2 %}
        </div>
        <div class="text-end">
            <a href="{% url 'user:profile' %}" class="btn btn-outline-danger">Cancel</a>
            <button type="submit" name="_update" class="btn btn-primary">Update</button>
        </div>
    </form>
{% endblock %}
