{% extends 'users/base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block title %}User Preferences{% endblock %}

{% block content %}
  <form method="post" action="" id="preferences-update">
    {% csrf_token %}

    {% comment %}
    {% for group, fields in form.Meta.fieldsets %}
      <div class="field-group my-5">
        <div class="row mb-2">
          <h5 class="offset-sm-3">{{ group }}</h5>
        </div>
        {% for name in fields %}
            {% render_field form|getfield:name %}
        {% endfor %}
      </div>
    {% endfor %}
    {% endcomment %}

    {% render_form form %}

    <div class="text-end my-3">
      <a class="btn btn-outline-secondary" href="{% url 'user:preferences' %}">Cancel</a>
      <button type="submit" name="_update" class="btn btn-primary">Save </button>
    </div>
  </form>
{% endblock %}
