{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Token" %} {{ object }}{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Token" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Key" %}</th>
            <td>{% if settings.ALLOW_TOKEN_RETRIEVAL %}{{ object.key }}{% else %}{{ object.partial }}{% endif %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "User" %}</th>
            <td>
              <a href="{% url 'users:netboxuser' pk=object.user.pk %}">{{ object.user }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Write enabled" %}</th>
            <td>{% checkmark object.write_enabled %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Created" %}</th>
            <td>{{ object.created|annotated_date }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Expires" %}</th>
            <td>{{ object.expires|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Last used" %}</th>
            <td>{{ object.last_used|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Allowed IPs" %}</th>
            <td>{{ object.allowed_ips|join:", "|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
