{% extends "admin/index.html" %}
{% load i18n %}

{% block content_title %}{% endblock %}

{% block sidebar %}
    {{ block.super }}
    <div class="module">
        <table style="width: 100%">
            <caption>{% trans "System" %}</caption>
            <tbody>
                <tr>
                    <th>
                        <a href="{% url 'rq_home' %}">{% trans "Background Tasks" %}</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href="{% url 'plugins_list' %}">{% trans "Installed plugins" %}</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
