{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'virtualization:virtualmachine_list' %}">Virtual Machines</a></li>
  <li class="breadcrumb-item"><a href="{% url 'virtualization:virtualmachine_list' %}?cluster_id={{ object.cluster.pk }}">{{ object.cluster }}</a></li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block extra_controls %}
  {% if perms.virtualization.add_vminterface %}
    <a href="{% url 'virtualization:vminterface_add' %}?virtual_machine={{ object.pk }}&return_url={% url 'virtualization:virtualmachine_interfaces' pk=object.pk %}" class="btn btn-sm btn-primary m-1">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Interfaces
    </a>
  {% endif %}
{% endblock %}

{% block tab_items %}
  <li class="nav-item" role="presentation">
    <a class="nav-link{% if not active_tab %} active{% endif %}" href="{{ object.get_absolute_url }}">Virtual Machine</a>
  </li>
  {% with interface_count=object.interfaces.count %}
      {% if interface_count %}
          <li class="nav-item" role="presentation">
              <a class="nav-link{% if active_tab == 'interfaces' %} active{% endif %}" href="{% url 'virtualization:virtualmachine_interfaces' pk=object.pk %}">Interfaces {% badge interface_count %}</a>
          </li>
      {% endif %}
  {% endwith %}
  {% if perms.extras.view_configcontext %}
    <li class="nav-item" role="presentation">
      <a class="nav-link{% if active_tab == 'config-context' %} active{% endif %}" href="{% url 'virtualization:virtualmachine_configcontext' pk=object.pk %}">Config Context</a>
    </li>
  {% endif %}
{% endblock %}
