{% extends 'generic/object_children.html' %}
{% load helpers %}
{% load i18n %}

{% block bulk_edit_controls %}
    {{ block.super }}
    {% if 'bulk_rename' in actions %}
        <button type="submit" name="_rename"
                formaction="{% url 'virtualization:vminterface_bulk_rename' %}?return_url={{ return_url }}"
                class="btn btn-outline-warning">
            <i class="mdi mdi-pencil-outline" aria-hidden="true"></i> {% trans "Rename" %}
        </button>
    {% endif %}
{% endblock bulk_edit_controls %}
