{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">Wireless LAN</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">SSID</th>
            <td>{{ object.ssid }}</td>
          </tr>
          <tr>
            <td>Group</td>
            <td>{{ object.group|linkify|placeholder }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">VLAN</th>
            <td>{{ object.vlan|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Tenant</th>
            <td>
              {% if object.tenant.group %}
                {{ object.tenant.group|linkify }} /
              {% endif %}
              {{ object.tenant|linkify|placeholder }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    {% include 'wireless/inc/authentication_attrs.html' %}
    {% include 'inc/panels/custom_fields.html' %}
    {% plugin_right_page object %}
	</div>
</div>
<div class="row">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Attached Interfaces</h5>
      <div class="card-body table-responsive">
        {% render_table interfaces_table 'inc/table.html' %}
        {% include 'inc/paginator.html' with paginator=interfaces_table.paginator page=interfaces_table.page %}
      </div>
    </div>
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
