{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Interface" %} A</h5>
        {% include 'wireless/inc/wirelesslink_interface.html' with interface=object.interface_a %}
      </div>
      <div class="card">
        <h5 class="card-header">{% trans "Link Properties" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "SSID" %}</th>
            <td>{{ object.ssid|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Tenant" %}</th>
            <td>
              {% if object.tenant.group %}
                {{ object.tenant.group|linkify }} /
              {% endif %}
              {{ object.tenant|linkify|placeholder }}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Interface" %} B</h5>
        {% include 'wireless/inc/wirelesslink_interface.html' with interface=object.interface_b %}
      </div>
      {% include 'wireless/inc/authentication_attrs.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
