{% load helpers %}

{% with custom_fields=object.get_custom_fields_by_group %}
  {% if custom_fields %}
    <div class="card">
      <h5 class="card-header">Custom Fields</h5>
      <div class="card-body">
        {% for group_name, fields in custom_fields.items %}
          {% if group_name %}
            <h6>{{ group_name }}</h6>
          {% endif %}
          <table class="table table-hover attr-table">
            {% for field, value in fields.items %}
              <tr>
                <th scope="row">
                  <span title="{{ field.description|escape }}">{{ field }}</span>
                </th>
                <td>
                  {% customfield_value field value %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endwith %}
