{% load helpers %}

<div class="card">
  <h5 class="card-header">
    Images
  </h5>
  <div class="card-body htmx-container table-responsive"
  hx-get="{% url 'extras:imageattachment_list' %}?content_type_id={{ object|content_type_id }}&object_id={{ object.pk }}"
  hx-trigger="load"></div>
  {% if perms.extras.add_imageattachment %}
    <div class="card-footer text-end noprint">
      <a href="{% url 'extras:imageattachment_add' %}?content_type={{ object|content_type_id }}&object_id={{ object.pk }}" class="btn btn-primary btn-sm">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Attach an image
      </a>
    </div>
  {% endif %}
</div>
