* {
    font-family: sans-serif;
    font-size: 14px;
}
text {
    text-anchor: middle;
    dominant-baseline: middle;
}
text.bold {
  font-weight: bold;
}

svg {
  /* Boxes */
  rect {
    fill: #e0e0e0;
    stroke: #606060;
    stroke-width: 1;
    .termination {
      fill: #f0f0f0;
    }
  }

  /* Connectors */
  .connector text {
    text-anchor: start;
  }
  line {
    stroke-width: 5px;
  }
  line.cable-shadow {
    stroke: #303030;
    stroke-width: 7px;
  }
  line.attachment {
    stroke: #c0c0c0;
    stroke-dasharray: 5px,5px;
  }
}
