@import 'variables';

// Tabler & vendors
@import '../node_modules/@tabler/core/src/scss/_core.scss';
@import '../node_modules/@tabler/core/src/scss/vendor/tom-select';

// Overrides of external libraries
@import 'overrides/bootstrap';
@import 'overrides/tabler';

// Transitional styling to ease migration of templates from NetBox v3.x
@import 'transitional/badges';
@import 'transitional/cards';
@import 'transitional/forms';
@import 'transitional/layout';
@import 'transitional/navigation';
@import 'transitional/progress';
@import 'transitional/tables';
@import 'transitional/tabs';

// Custom styling
@import 'custom/code';
@import 'custom/interfaces';
@import 'custom/markdown';
@import 'custom/misc';
