// Light Mode Theme Variables and Overrides.

@import './theme-base.scss';

$input-border-color: $gray-200;

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': #337ab7,
    'red': $red-500,
    'yellow': $yellow-500,
    'green': $green-500,
    'blue': $blue-500,
    'cyan': $cyan-500,
    'indigo': $indigo-500,
    'purple': $purple-500,
    'pink': $pink-500,
  )
);

$theme-colors: map-merge($theme-colors, $theme-color-addons);

$light: $gray-200;

$card-cap-color: $gray-800;

$accordion-bg: transparent;
$accordion-button-bg: $accordion-bg;
$accordion-body-active-bg: $gray-100;
$accordion-border-color: $border-color;
$accordion-button-active-bg: $blue-100;
$accordion-button-active-color: $gray-800;

$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");

$code-color: $gray-900;

$list-group-color: $gray-700;
$list-group-disabled-color: $gray-500;

$table-flush-header-bg: $gray-100;

$input-placeholder-color: $gray-500;
$form-select-disabled-color: $gray-600;

// Tabbed content
$tab-content-bg: $gray-100;
