{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                {% trans "L2VPN Attributes" %}
            </h5>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th scope="row">{% trans "L2VPN" %}</th>
                        <td>{{ object.l2vpn|linkify }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Assigned Object" %}</th>
                        <td>{{ object.assigned_object|linkify }}</td>
                    </tr>
                </table>
            </div>
        </div>
	</div>
	<div class="col col-md-6">
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' with tags=object.tags.all url='vpn:l2vpntermination_list' %}
    </div>
</div>

{% endblock %}
