{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.vrf %}
    <li class="breadcrumb-item"><a href="{% url 'ipam:prefix_list' %}?vrf_id={{ object.vrf.pk }}">{{ object.vrf }}</a></li>
  {% endif %}
{% endblock %}

{% block tab_items %}
  <li role="presentation" class="nav-item">
    <a class="nav-link{% if not active_tab %} active{% endif %}" href="{% url 'ipam:prefix' pk=object.pk %}">
      Prefix
    </a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link{% if active_tab == 'prefixes' %} active{% endif %}" href="{% url 'ipam:prefix_prefixes' pk=object.pk %}">
      Child Prefixes {% badge object.get_child_prefixes.count %}
    </a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link{% if active_tab == 'ip-ranges' %} active{% endif %}" href="{% url 'ipam:prefix_ipranges' pk=object.pk %}">
      Child Ranges {% badge object.get_child_ranges.count %}
    </a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link{% if active_tab == 'ip-addresses' %} active{% endif %}" href="{% url 'ipam:prefix_ipaddresses' pk=object.pk %}">
      IP Addresses {% badge object.get_child_ips.count %}
    </a>
  </li>
{% endblock %}
