{% extends 'ipam/prefix/base.html' %}
{% load helpers %}

{% block extra_controls %}
  {% include 'ipam/inc/toggle_available.html' %}
  {% if perms.ipam.add_prefix and first_available_prefix %}
    <a href="{% url 'ipam:prefix_add' %}?prefix={{ first_available_prefix }}&vrf={{ object.vrf.pk }}&site={{ object.site.pk }}&tenant_group={{ object.tenant.group.pk }}&tenant={{ object.tenant.pk }}" class="btn btn-sm btn-primary">
      <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add Prefix
    </a>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% include 'inc/table_controls_htmx.html' with table_modal="PrefixTable_config" %}
  
  <form method="post">
    {% csrf_token %}

    <div class="card">
      <div class="card-body htmx-container table-responsive" id="object_list">
        {% include 'htmx/table.html' %}
      </div>
    </div>

    <div class="noprint bulk-buttons">
      <div class="bulk-button-group">
        {% if 'bulk_edit' in actions %}
          <button type="submit" name="_edit" formaction="{% url 'ipam:prefix_bulk_edit' %}?return_url={% url 'ipam:prefix_prefixes' pk=object.pk %}" class="btn btn-warning btn-sm">
            <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
          </button>
        {% endif %}
        {% if 'bulk_delete' in actions %}
          <button type="submit" name="_delete" formaction="{% url 'ipam:prefix_bulk_delete' %}?return_url={% url 'ipam:prefix_prefixes' pk=object.pk %}" class="btn btn-danger btn-sm">
            <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> Delete
          </button>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}

{% block modals %}
  {{ block.super }}
  {% table_config_form table %}
{% endblock modals %}
