{% load helpers %}
{% load i18n %}

<ul class="nav nav-tabs">
  <li class="nav-item">
      <a
          class="nav-link {% if active_tab == 'add' %}active{% endif %}"
          href="{% url 'ipam:ipaddress_add' %}{% querystring request %}"
      >
          {% if obj.pk %}{% trans "Edit" %}{% else %}{% trans "Create" %}{% endif %}
      </a>
  </li>
  {% if 'interface' in request.GET or 'vminterface' in request.GET %}
  <li class="nav-item">
      <a
          class="nav-link {% if active_tab == 'assign' %}active{% endif %}"
          href="{% url 'ipam:ipaddress_assign' %}{% querystring request %}"
      >
          {% trans "Assign IP" %}
      </a>
  </li>
  {% else %}
  <li class="nav-item">
      <a
          class="nav-link {% if active_tab == 'bulk_add' %}active{% endif %}"
          href="{% url 'ipam:ipaddress_bulk_add' %}{% querystring request %}"
      >
          {% trans "Bulk Create" %}
      </a>
  </li>
  {% endif %}
</ul>
