// Disable font-ligatures for Chromium based browsers
// Chromium requires `font-variant-ligatures: none` in addition to `font-feature-settings "liga" 0`
* {
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
}

// Restore default foreground & background colors for <pre> blocks
pre {
  background-color: transparent;
  color: inherit;
}

// Buttons
.btn {
  // Tabler sets display: flex
  display: inline-block;
}
.btn-sm {
  // $border-radius-sm (2px) is too small
  border-radius: $border-radius;
}

// Tabs
.nav-tabs {
  .nav-link {
    // Tabler sets display: flex
    display: inline-block;
  }
}

// Dropdown items
.dropdown-item {
  // Tabler sets display: flex
  display: inline-block;;
}

table a {
  // Adjust table anchor link contrast as not enough contrast in dark mode
  filter: brightness(110%);
}

// Override background color alpha value
[data-bs-theme=dark] ::selection {
  background-color: rgba(var(--tblr-primary-rgb),.48)
}
