{# Base template for (almost) all NetBox pages #}
{% load static %}
{% load helpers %}
{% load i18n %}
<!DOCTYPE html>
<html
  lang="en"
  data-netbox-url-name="{{ request.resolver_match.url_name }}"
  data-netbox-base-path="{{ settings.BASE_PATH }}"
  {% with preferences|get_key:'ui.colormode' as color_mode %}
    {% if color_mode == 'dark'%}
      data-netbox-color-mode="dark"
    {% elif color_mode == 'light' %}
      data-netbox-color-mode="light"
    {% else %}
      data-netbox-color-mode="unset"
    {% endif %}
  {% endwith %}
  >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, viewport-fit=cover" />

    {# Page title #}
    <title>{% block title %}{% trans "Home" %}{% endblock %} | NetBox</title>

    <script type="text/javascript">
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    {# Static resources #}
    <link
      rel="stylesheet"
      href="{% static 'netbox-external.css'%}?v={{ settings.VERSION }}"
      onerror="window.location='{% url 'media_failure' %}?filename=netbox-external.css'"
    />
    <link
      rel="stylesheet"
      href="{% static 'netbox.css'%}?v={{ settings.VERSION }}"
      onerror="window.location='{% url 'media_failure' %}?filename=netbox.css'"
    />
    <link rel="icon" type="image/png" href="{% static 'netbox.ico' %}" />
    <link rel="apple-touch-icon" type="image/png" href="{% static 'netbox_touch-icon-180.png' %}" />

    {# Javascript #}
    <script
      type="text/javascript"
      src="{% static 'netbox.js' %}?v={{ settings.VERSION }}"
      onerror="window.location='{% url 'media_failure' %}?filename=netbox.js'">
    </script>

    {# Additional <head> content #}
    {% block head %}{% endblock %}
  </head>

  <body
    {% if preferences|get_key:'ui.colormode' == 'dark' %}
      data-bs-theme="dark"
    {% endif %}
  >

    {# Page layout #}
    {% block layout %}{% endblock %}

    {# Additional Javascript #}
    {% block javascript %}{% endblock %}

    {# User messages #}
    {% include 'inc/messages.html' %}

    {# Data container #}
    <div id="netbox-data" style="display: none!important; visibility: hidden!important">
      {% block data %}{% endblock %}
    </div>

  </body>
</html>
