@use 'sass:map';

// Color labels
span.color-label {
  display: inline-block;
  width: 5rem;
  height: 1rem;
  padding: $badge-padding-y $badge-padding-x;
  border: 1px solid #303030;
  border-radius: $border-radius;
}

// Object hierarchy depth indicators
.record-depth {
  display: inline;
  user-select: none;
  opacity: 33%;

  // Add spacing to the last or only dot.
  span:only-of-type,
  span:last-of-type {
    margin-right: map.get($spacers, 1);
  }
}

// Hides the last child of an element
.hide-last-child :last-child {
  visibility: hidden;
  opacity: 0;
}
