<div class="modal fade" id="{{ name }}_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if title %}
                <h5 class="modal-title">{{ title }}</h5>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ content }}
            </div>
        </div>
    </div>
</div>
