{% load form_helpers %}

<div class="card">
    <h5 class="card-header">
        Search
    </h5>
    <div class="card-body">
        <form action="." method="get" class="form">
            {% for field in filter_form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% for field in filter_form.visible_fields %}
                <div class="row mb-3">
                <div class="col">
                    {% if field.name == "q" %}
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search" {% if request.GET.q %}value="{{ request.GET.q }}" {% endif %}/>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    {% elif field|widget_type == 'checkboxinput' %}
                        <label for="{{ field.id_for_label }}">{{ field }} {{ field.label }}</label>
                    {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="card-footer text-end noprint px-0 border-0">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i> Apply
                </button>
                <a href="." class="btn btn-outline-dark">
                    <i class="bi bi-x"></i> Clear
                </a>
            </div>
        </form>
    </div>
</div>
