<div class="row mb-3 justify-content-between">
    <div class="col col-12 col-lg-4 my-3 my-lg-0 d-flex noprint table-controls">
        <div class="input-group input-group-sm">
            <input
                type="text"
                class="form-control object-filter"
                placeholder="Filter"
                title="Filter text (regular expressions supported)"
            />
        </div>
    </div>
    <div class="col col-md-2 mb-0 d-flex justify-content-end noprint table-controls">
        {% if request.user.is_authenticated and table_modal %}
            <button
                type="button"
                data-bs-toggle="modal"
                title="Configure Table"
                data-bs-target="#{{ table_modal }}"
                class="btn btn-sm btn-outline-dark"
            >
                <i class="mdi mdi-cog"></i> Configure Table
            </button>
        {% endif %}
    </div>
</div>
