<div class="row mb-3 justify-content-between">
  <div class="table-controls noprint col col-12 col-md-8 col-lg-4">
    <div class="input-group input-group-sm">
      <input
        type="text"
        class="form-control object-filter"
        placeholder="Filter"
        title="Filter text (regular expressions supported)"
      />
    </div>
  </div>
  <div class="table-controls noprint col col-md-3 mb-0">
    {% if request.user.is_authenticated and table_modal %}
      <div class="table-configure input-group input-group-sm">
        <button
          type="button"
          data-bs-toggle="modal"
          title="Configure Table"
          data-bs-target="#{{ table_modal }}"
          class="btn btn-sm btn-outline-dark"
        >
          <i class="mdi mdi-cog"></i> Configure Table
        </button>
      </div>
    {% endif %}
  </div>
</div>
