{% load helpers %}
{% load i18n %}

<div class="row mb-3">
  <div class="col-auto d-print-none">
    <div class="input-group input-group-flat me-2 quicksearch">
      <input type="search" results="5" name="q" id="quicksearch" class="form-control px-2 py-1" placeholder="Quick search"
        hx-get="{{ request.full_path }}" hx-target="#object_list" hx-trigger="keyup changed delay:500ms, search" />
      <span class="input-group-text py-1">
        <a href="#" id="quicksearch_clear" class="d-none text-secondary"><i class="mdi mdi-close-circle"></i></a>
      </span>
    {% block extra_table_controls %}{% endblock %}
    </div>
  </div>
  <div class="col-auto ms-auto d-print-none">
    {% if request.user.is_authenticated and table_modal %}
      <div class="table-configure input-group">
        <button type="button" data-bs-toggle="modal" title="{% trans "Configure Table" %}" data-bs-target="#{{ table_modal }}"
          class="btn">
          <i class="mdi mdi-cog"></i> {% trans "Configure Table" %}
        </button>
      </div>
    {% endif %}
  </div>
</div>
