{% load static %} {% load helpers %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Home{% endblock %} - NetBox</title>
    <link
      rel="stylesheet"
      href="{% static 'netbox.css'%}"
      onerror="window.location='{% url 'media_failure' %}?filename=netbox.css'"
    />

    <link rel="icon" type="image/png" href="{% static 'netbox.ico' %}" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"
    />
  </head>
  <body>
    {% block layout %}{% endblock %}
    <script
      src="{% static 'netbox.js' %}"
      onerror="window.location='{% url 'media_failure' %}?filename=netbox.js'"
    ></script>

    <script type="text/javascript">
      var netbox_api_path = "/{{ settings.BASE_PATH }}api/";
      var netbox_csrf_token = "{{ csrf_token }}";
    </script>
    {% block javascript %}{% endblock %}
    {% include './messages.html' %}
  </body>
</html>
