{% load static %} {% load helpers %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Home{% endblock %} - NetBox</title>
    <link
      rel="stylesheet"
      href="{% static 'netbox.css'%}"
      onerror="window.location='{% url 'media_failure' %}?filename=netbox.css'"
    />

    <link rel="icon" type="image/png" href="{% static 'netbox.ico' %}" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"
    />
    <script
      type="text/javascript"
      src="{% static 'netbox.js' %}"
      onerror="window.location='{% url 'media_failure' %}?filename=netbox.js'">
    </script>
    {% block head %}{% endblock %}
  </head>
  {% with color_mode=preferences|get_key:'ui.colormode' %}
  
  <body{%if color_mode == 'dark'%} data-netbox-color-mode="dark"{% elif color_mode == 'light' %} data-netbox-color-mode="light"{% endif %}>
  
    {% block layout %}{% endblock %}
    {% block javascript %}{% endblock %}
    {% include './messages.html' %}
    <div id="netbox-data" style="display: none!important; visibility: hidden!important">
    {% block data %}{% endblock %}
    </div>
  </body>
  {% endwith %}
</html>
