{% load helpers %} {% load get_status %} 
{% if changelog and perms.extras.view_objectchange %}
<table class="table align-middle table-hover">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Action</th>
      <th scope="col">Type</th>
      <th scope="col">Object</th>
      <th scope="col">Time</th>
      <th scope="col" align="right"></th>
    </tr>
  </thead>
  <tbody>
    {% for change in changelog %}
    <tr class="table-{% get_status change.get_action_display %}">
      <th scope="row">{{ change.user|default:change.user_name }}</th>
      <td>{{ change.get_action_display|bettertitle }}</td>
      <td>{{ change.changed_object_type.name|bettertitle }}</td>
      <td>
        {% if change.changed_object.get_absolute_url %}
        <a
          class="text-body"
          href="{{ change.changed_object.get_absolute_url }}"
          >{{ change.changed_object }}</a
        >
        {% else %} {{ change.changed_object|default:change.object_repr }} {% endif %}
      </td>
      
      <td>{{ change.time|date:'SHORT_DATETIME_FORMAT' }}</td>
      <td>
        <a role="button" class="text-body" href="{{ change.get_absolute_url }}"
          ><i
            class="bi bi-three-dots"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            title="View Change Details"
          ></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% elif perms.extras.view_objectchange %}
<div class="alert alert-secondary mt-4" role="alert">
  No change history found.
</div>

{% else %}
<div class="alert alert-danger mt-4" role="alert">
  <strong>{{ request.user|truncatechars:"30" }}</strong> does not have
  permission to view changes.
</div>
{% endif %}
