{% extends 'base.html' %} {% load static %} {% block layout %}
<main class="login-container text-center">
  {% if settings.BANNER_LOGIN %}
  <div class="alert alert-secondary" role="alert">
    {{ settings.BANNER_LOGIN|safe }}
  </div>
  {% endif %}
  <div class="form-login">
    <form action="{% url 'login' %}" method="post">
      <img src="{% static 'netbox_logo.svg' %}" class="mb-4" />
      {% csrf_token %} {% if 'next' in request.GET %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %} {% if 'next' in request.POST %}
      <input type="hidden" name="next" value="{{ request.POST.next }}" />
      {% endif %}
      <input
        required
        type="text"
        placeholder="Username"
        name="username"
        maxlength="150"
        id="id_username"
        class="form-control"
      />
      <input
        required
        type="password"
        placeholder="Password"
        name="password"
        id="id_password"
        class="form-control"
      />
      <button type="submit" class="btn btn-primary btn-lg w-100 mt-4">
        Sign In
      </button>
    </form>
  </div>
  {% load form_helpers %} {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Errors</h4>
    <p>
      {{ form.non_field_errors }}
    </p>
  </div>
  {% endif %}
</main>
<footer class="footer login-footer py-3">
  <div class="container-fluid">
    <small class="text-muted">
      {{ settings.HOSTNAME }} (v{{ settings.VERSION }})
    </small>
  </div>
</footer>
{% endblock %}
