{% extends 'generic/confirmation_form.html' %}
{% load i18n %}

{% block title %}{% trans "Swap Circuit Terminations" %}{% endblock %}

{% block message %}
    <p>
      {% blocktrans trimmed %}
        Swap these terminations for circuit {{ circuit }}?
      {% endblocktrans %}
    </p>
    <ul>
        <li>
            <strong>{% trans "A side" %}:</strong>
            {% if termination_a %}
                {{ termination_a.site }} {% if termination_a.interface %}- {{ termination_a.interface.device }} {{ termination_a.interface }}{% endif %}
            {% else %}
                {% trans "None" %}
            {% endif %}
        </li>
        <li>
            <strong>{% trans "Z side" %}:</strong>
            {% if termination_z %}
                {{ termination_z.site }} {% if termination_z.interface %}- {{ termination_z.interface.device }} {{ termination_z.interface }}{% endif %}
            {% else %}
                {% trans "None" %}
            {% endif %}
        </li>
    </ul>
{% endblock %}
