{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row">
	  <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                Provider
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">ASN</th>
                        <td>{{ object.asn|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Account</th>
                        <td>{{ object.account|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Customer Portal</th>
                        <td>
                            {% if object.portal_url %}
                                <a href="{{ object.portal_url }}">{{ object.portal_url }}</a>
                            {% else %}
                                <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">NOC Contact</th>
                        <td class="rendered-markdown">{{ object.noc_contact|render_markdown|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Admin Contact</th>
                        <td class="rendered-markdown">{{ object.admin_contact|render_markdown|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Circuits</th>
                        <td>
                            <a href="{% url 'circuits:circuit_list' %}?provider={{ object.slug }}">{{ circuits_table.rows|length }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/tags.html' with tags=object.tags.all url='circuits:provider_list' %}
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/comments.html' %}
        {% include 'inc/panels/contacts.html' %}
        {% plugin_right_page object %}
    </div>
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">
                Circuits
            </h5>
            <div class="card-body">
            {% include 'inc/table.html' with table=circuits_table %}
            </div>
            {% if perms.circuits.add_circuit %}
            <div class="card-footer text-end noprint">
                <a href="{% url 'circuits:circuit_add' %}?provider={{ object.pk }}" class="btn btn-sm btn-primary">
                    <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add circuit
                </a>
            </div>
            {% endif %}
        </div>
        {% include 'inc/paginator.html' with paginator=circuits_table.paginator page=circuits_table.page %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
