{% extends 'layout.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load perms %}
{% load plugins %}


{% block title %}{{ object }}{% endblock %}

{% block breadcrumb_main %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {% block breadcrumbs %}{%endblock%}
  </ol>
</nav>
{% endblock %}

{% block controls %}
{% plugin_buttons object %}
<div class="container mb-2 mx-0">
  <div class="d-flex flex-wrap justify-content-end">
  {% block extra_controls %}{% endblock %}
  {% if request.user|can_add:object %}
    {% clone_button object %}
  {% endif %}
  {% if request.user|can_change:object %}
    {% edit_button object %}
  {% endif %}
  {% if request.user|can_delete:object %}
    {% delete_button object %}
  {% endif %}
  </div>
</div>
{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs mb-3">
  {% block tab_items %}
  <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
    <a href="{{ object.get_absolute_url }}">{{ object|meta:"verbose_name"|bettertitle }}</a>
  </li>
  {% if perms.extras.view_objectchange %}
  <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
    {# TODO: Fix changelog URL resolution hack #}
    <a href="{{ object.get_absolute_url }}changelog/">Change Log</a>
  </li>
  {% endif %}
  {% endblock %}
</ul>
{% endblock %}

{% block content %}{% endblock %}

{% block header %}
  <div class="row noprint">
    <div class="col-sm-8 col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          {% comment %} {% block breadcumbs %}{%endblock%} {% endcomment %}
        </ol>
      </nav>
    </div>
    <div class="col-sm-4 col-md-3">
      {# TODO: Provide absolute search URL #}
      <form action="../" method="get">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <span class="mdi mdi-magnify" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  {% comment %} <div class="pull-right noprint">
    {% plugin_buttons object %}
    {% block buttons %}
      {% if request.user|can_add:object %}
        {% clone_button object %}
      {% endif %}
      {% if request.user|can_change:object %}
        {% edit_button object %}
      {% endif %}
      {% if request.user|can_delete:object %}
        {% delete_button object %}
      {% endif %}
    {% endblock %}
  </div>
  <h1>{% block title %}{{ object }}{% endblock %}</h1>
  {% endcomment %}
  {% include 'inc/created_updated.html' %}
  <div class="float-end noprint">
    {% block tab_buttons %}
      {% custom_links object %}
    {% endblock %}
  </div>
  
{% endblock %}
