{% extends 'layout.html' %}
{% load buttons %}
{% load helpers %}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}{{ content_type.model_class|meta:"verbose_name_plural"|bettertitle }}{% endblock %}

{% block controls %}
<div class="container mb-2 mx-0">
  <div class="d-flex flex-wrap justify-content-end">
    {% if permissions.add and 'add' in action_buttons %}
        {% add_button content_type.model_class|validated_viewname:"add" %}
    {% endif %}
    {% if permissions.add and 'import' in action_buttons %}
        {% import_button content_type.model_class|validated_viewname:"import" %}
    {% endif %}
    {% if 'export' in action_buttons %}
        {% export_button content_type %}
    {% endif %}
    
    <div class="d-flex flex-shrink-1">
    {% if request.user.is_authenticated and table_config_form %}

      <button
        type="button"
        class="btn btn-sm btn-outline-secondary m-1"
        data-toggle="modal" data-target="#ObjectTable_config"
        title="Configure table"
      >
        <i class="bi bi-sliders"></i>
      </button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-9">
        {% with bulk_edit_url=content_type.model_class|validated_viewname:"bulk_edit" bulk_delete_url=content_type.model_class|validated_viewname:"bulk_delete" %}
            {% if permissions.change or permissions.delete %}
                <form method="post" class="form form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="return_url" value="{% if return_url %}{{ return_url }}{% else %}{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% endif %}" />
                    {% if table.paginator.num_pages > 1 %}
                        <div id="select_all_box" class="hidden panel panel-default noprint">
                            <div class="panel-body">
                                <div class="checkbox-inline">
                                    <label for="select_all">
                                        <input type="checkbox" id="select_all" name="_all" />
                                        Select <strong>all {{ table.rows|length }} {{ table.data.verbose_name_plural }}</strong> matching query
                                    </label>
                                </div>
                                <div class="pull-right">
                                    {% if bulk_edit_url and permissions.change %}
                                        <button type="submit" name="_edit" formaction="{% url bulk_edit_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-warning btn-sm" disabled="disabled">
                                            <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit All
                                        </button>
                                    {% endif %}
                                    {% if bulk_delete_url and permissions.delete %}
                                        <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-danger btn-sm" disabled="disabled">
                                            <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete All
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% include table_template|default:'responsive_table.html' %}
                <div class="float-end noprint bulk-buttons">
                    {% block bulk_buttons %}{% endblock %}
                    {% if bulk_edit_url and permissions.change %}
                    <button type="submit" name="_edit" formaction="{% url bulk_edit_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-fill" aria-hidden="true"></i> Edit Selected
                    </button>
                    {% endif %}
                    {% if bulk_delete_url and permissions.delete %}
                    <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill" aria-hidden="true"></i> Delete Selected
                    </button>
                    {% endif %}
                </div>
            </form>
            
        {% else %}
            {% include table_template|default:'responsive_table.html' %}
        {% endif %}
        {% endwith %}
        </div>
        {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
        <div class="clearfix"></div>
    </div>
    {% if filter_form %}
    <div class="col-3 noprint">
        {% block sidebar %}{% endblock %}
        {% include 'inc/search_panel.html' %}
    </div>
    {% endif %}
</div>
{% table_config_form table table_name="ObjectTable" %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/tableconfig.js' %}"></script>
{% endblock %}
