{% extends 'generic/_base.html' %}
{% load buttons %}
{% load helpers %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Plugins" %}{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs px-3">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" role="tab">{% trans "Plugins" %}</a>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}
  <div class="row mb-3">
    <div class="col-auto ms-auto d-print-none">
      {# Table configuration button #}
      <div class="table-configure input-group">
        <button type="button" data-bs-toggle="modal" title="{% trans "Configure Table" %}" data-bs-target="#ObjectTable_config" class="btn">
          <i class="mdi mdi-cog"></i> {% trans "Configure Table" %}
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    {% render_table table %}
  </div>
{% endblock content %}

{% block modals %}
  {% table_config_form table table_name="ObjectTable" %}
{% endblock modals %}
