# auto-assign-issue (https://github.com/marketplace/actions/auto-assign-issue)
name: Issue assignment

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - uses: pozil/auto-assign-issue@v1
        with:
          assignees: abhi1693,arthanson,DanSheps,jeffgdotorg,jeremystretch
          numOfAssignee: 1
          abortIfPreviousAssignees: true
